.container {
    &--institucional-nossas-lojas__store {
        width: 100%;

        .wrapper {
            width: 100%;
        }

        .headingLevel2 {
            font-style: normal;
            font-weight: 600;
            font-size: 18px;
            line-height: 22px;
            letter-spacing: 0.1em;
            color: #1E1E1E;
            margin: 12px 0px;
        }

        .paragraph {
            max-width: 382px;
            font-style: normal;
            font-weight: 400;
            font-size: 14px;
            line-height: 21px;
            letter-spacing: 0.1em;
            color: #5F5F5F;
            margin-bottom: 14px;
        }

        .italic {
            font-style: normal;
            font-weight: 400;
            font-size: 14px;
            line-height: 21px;
            letter-spacing: 0.1em;
            color: #5F5F5F;
            margin-top: 14px;
            margin-bottom: 14px;
            display: flex;
            align-items: center;
            font-style: normal;

            &::before {
                content: '' url(https://dechelles.vteximg.com.br/arquivos/nossaslojasphone.png);
                position: relative;
                top: 5px;
                margin-right: 10px;
            }
        }

        .strong {
            font-style: normal;
            font-weight: 400;
            font-size: 14px;
            line-height: 21px;
            letter-spacing: 0.1em;
            color: #5F5F5F;
            margin-bottom: 30px;
            display: flex;
            font-style: normal;
            align-items: center;

            .link {
                color: #5F5F5F !important;
                text-decoration: none;
                padding: 0 !important;
                text-transform: unset !important;
                background: unset !important;
                font-size: 14px !important;
            }

            &::before {
                content: '' url(https://dechelles.vteximg.com.br/arquivos/nossaslojasmail.png);
                position: relative;
                top: 5px;
                margin-right: 10px;
            }
        }

        .link {
            background: #1E1E1E;
            padding: 10px 45px;
            color: white;
            color: #fff;
            text-decoration: none;
            text-transform: uppercase;
            font-size: 18px;
        }
    }
}