<div id="footer">
  <div class="max-container">
    <section class="footer-infos">
      <p>
        <strong>FALE CONOSCO</strong>
        <br />
        <br />
        <strong class="infos-number"
          ><img
            src="https://lennyniemeyer.vteximg.com.br/arquivos/checkout_wpp-io.png"
            alt="Whatsapp"
          />21 3558-0036</strong
        >
        Segunda a Sexta de 9h às 17h | atendimento@lennyniemeyer.com
      </p>

      <div>
        <p>
          <strong>PAGAMENTO</strong>
          <br />
          <br />
        </p>
        <div class="payment-footer">
          <img src="https://lennyniemeyer.vteximg.com.br/arquivos/checkout_cards-io.png" alt="" />
        </div>
      </div>
    </section>

    <section class="footer-locale">
      <p>
        © Copyright 2018 | Lenny Niemeyer - Razão social LNY 2005 Indústria de Roupas LTDA - CNPJ
        07.543.288/0001-90 Estado e município Rio de Janeiro - RJ - CEP 20921-430
      </p>
      <p>
        Created by
        <a href="https://adventures.inc/" target="_blank">
          Advtentures
        </a>
        | Powered by
        <a href="https://vtex.com/br-pt/home-2/" target="_blank">
          VTEX
        </a>
      </p>
    </section>
  </div>
</div>
