<div id="footer">
  <div class="max-container">
    <section class="footer-infos">
      <p>
        <strong>FALE CONOSCO</strong>
        <br />
        <br />
        <strong class="infos-number">(22) 2525-0800</strong>
        Segunda a Sexta de 9h às 17h | faleconosco@dechelles.com.br
      </p>

      <div>
        <p>
          <strong>PAGAMENTO</strong>
          <br />
          <br />
        </p>
        <div class="payment-footer">
          <img src="https://lennyniemeyer.vteximg.com.br/arquivos/checkout_cards-io.png" alt="" />
        </div>
      </div>
    </section>

    <section class="footer-locale">
      <p>
        De Chelles - CNPJ: 22.928.649/0001-00 | Endereço: Rua Vereador Jose Martins Costa, 202 Ponte
        da Saudade Nova Friburgo - RJ | CEP: 28615-055
      </p>
      <p>
        Created by
        <a href="https://adventures.inc/" target="_blank">
          Advtentures
        </a>
        | Powered by
        <a href="https://vtex.com/br-pt/home-2/" target="_blank">
          VTEX
        </a>
      </p>
    </section>
  </div>
</div>
