<div id="header">
  <section class="max-container">
    <a href="/">
      <img src="https://lennyniemeyer.vteximg.com.br/arquivos/checkout_logo-io.png" alt="Logo" />
    </a>

    <div class="e-steps">
      <div class="e-steps__list">
        <a href="/checkout" class="e-cart e-steps__list--item">
          <div class="e-steps__list--item__texto">Sacola</div>
        </a>
        <span class="line"></span>
        <a href="/checkout/#/email" class="e-identification e-steps__list--item">
          <div class="e-steps__list--item__texto">Identificação</div>
        </a>
        <span class="line"></span>
        <a href="/checkout/#/shipping" class="e-shipping e-steps__list--item">
          <div class="e-steps__list--item__texto">Entrega</div>
        </a>
        <span class="line"></span>
        <a href="/checkout/#/payment" class="e-confirmation e-steps__list--item">
          <div class="e-steps__list--item__texto">Pagamento</div>
        </a>
      </div>
    </div>

    <p>
      <img src="https://lennyniemeyer.vteximg.com.br/arquivos/checkout_lock-io.png" alt="Logo" />
      SITE
      <strong>100% SEGURO</strong>
    </p>
  </section>
</div>
