.sliderLayoutContainer {
    &--home__main-banner {
        margin-bottom: 30px;

        @media (min-width: 1025px) {
            margin-bottom: 55px;
        }

        .sliderArrows {
            display: none;

            .caretIcon {
                display: none;
            }

            @media (min-width: 1025px) {
                display: flex;
                align-items: center;
                justify-content: center;
                margin: 0;
                padding: 0;
                background: rgba(255, 255, 255, 0.10) !important;
                width: 45px;
                height: 45px;
                z-index: 10;
                border-radius: 0;

                &::before {
                    content: "";
                    background: url(assets/icons/icon-arrow.svg) no-repeat;
                    width: 10px;
                    height: 20px;
                    display: block;
                    background-size: contain;
                }
            }
        }

        .sliderRightArrow {
            transform: rotateZ(180deg);
        }

        .paginationDotsContainer {
            display: none;

            @media (min-width: 1025px) {
                display: flex;
                align-items: center;
                justify-content: center;
                bottom: 20px;

                .paginationDot {
                    background: transparent;
                    border: 1px solid #fff;
                    width: 12px;
                    height: 12px;

                    &--isActive {
                        background: #fff;
                    }
                }
            }
        }
    }

    &--home__banner-list {
        margin: 0 auto 70px;
        padding-left: 20px;
        max-width: 1366px;

        @media (min-width: 1025px) {
            padding: 0px 20px;
            margin: 0 auto 90px;
        }

        .sliderTrack {
            @media (min-width: 1025px) {
                transform: unset !important;
                width: unset !important;
                display: flex;
                justify-content: center;
            }
        }
    }

    &--home__shelf--carousel {
        @extend %maxcontainer;
        @extend %shelfsliderdefault;
        position: relative;
        margin-bottom: 50px;
        display: block;

        @media (min-width: 1025px) {
            margin-bottom: 100px;
        }
    }

    // &--home__categories {
    //     @extend %maxcontainer;
    //     position: relative;
    //     margin-bottom: 90px;

    //     @media all and (max-width:1024px) {
    //         width: 100%;
    //         margin-bottom: 30px;
    //     }

    //     .slide {
    //         @media all and (max-width:1024px) {
    //             margin-right: 20px;
    //             width: auto !important;
    //             flex: none;

    //             &--hidden {
    //                 display: none !important;
    //             }
    //         }
    //     }

    //     .sliderTrack {
    //         @media all and (max-width:1024px) {
    //             display: flex;
    //             justify-content: flex-start;
    //             overflow-x: auto;
    //             max-width: 100%;
    //             transform: unset !important;
    //             padding-left: 15px;
    //             overflow-y: hidden;
    //             width: 100%;
    //             padding-bottom: 15px;
    //         }
    //     }

    //     .sliderTrackContainer {
    //         width: calc(100% - 80px);
    //         margin: 0 auto;
    //         display: block;

    //         @media all and (max-width:1024px) {
    //             width: 100%;
    //         }
    //     }

    //     .sliderRightArrow,
    //     .sliderLeftArrow {
    //         width: 35px;
    //         height: 35px;
    //         background: #e6964b !important;
    //         border-radius: 100%;
    //         display: block;
    //         padding: 0;
    //         margin: 0;
    //         position: absolute;
    //         z-index: 10;
    //         top: 50%;
    //         transform: translateY(-50%);

    //         .caretIcon {
    //             filter: invert(1);
    //             width: 18px;
    //             display: block;
    //             margin: 0 auto;
    //             position: relative;
    //             left: 1px;
    //         }
    //     }

    //     .paginationDotsContainer {
    //         display: none;
    //     }

    //     .sliderRightArrow {
    //         right: -15px;
    //     }

    //     .sliderLeftArrow {
    //         left: -15px;

    //         .caretIcon {
    //             left: unset;
    //             left: -1px;
    //         }

    //     }
    // }

    // &--home__banner-shelf--carousel {
    //     display: block;
    //     @extend %shelfsliderdefault;
    // }
}