.flexRow {
    &--home__double-banner {
        @extend %maxcontainer;
        position: relative;
        margin-bottom: 60px;

        .flexRowContent {
            display: block;

            @media (min-width:1025px) {
                display: flex;
                align-items: center;
                gap: 80px;
            }
        }

        .stretchChildrenWidth {
            flex: 1;
        }
    }

    &--home__benefits {
        display: block;
        padding: 40px 0;
        border-top: 1px solid #EBEBEB;

        .stretchChildrenWidth:nth-child(n+2) {
            margin-top: 20px;

            @media (min-width:1025px) {
                margin: 0;
            }
        }

        .flexRowContent {
            display: block;

            @media (min-width:1025px) {
                display: flex;
                align-items: center;
                justify-content: space-between;
                max-width: 1100px;
                margin: 0 auto;
            }
        }
    }
}