:global(.dechelles-commercegrowth-custom-0-x-slider__main) {
  :global(.slick-dots) {
    display: flex !important;
    align-items: center;
    justify-content: center;
    list-style: none;
    padding: 10px 0;
    margin: 0;
  }
  :global(img) {
    width: 100% !important;
    height: auto !important;
    display: block;
    aspect-ratio: 2 / 3;
    object-fit: cover;
  }
  :global(.slick-active button) {
    background: #fff;
  }
}

:global(.dechelles-commercegrowth-custom-0-x-slider__thumbs) {
  :global(.slick-track) {
    height: unset !important;
  }
  :global(.slick-slide) {
    border: 0;
  }
  :global(.slick-slide) {
    opacity: 0.4;
  }
  :global(.slick-current) {
    opacity: 1;
  }
}
