.sliderTrack {

    &--home__banner-shelf--carousel,
    &--home__shelf--carousel,
    &--product__shelf--carousel {
        transition: 0.5s;
    }

    &--home__shelf--carousel {
        .slide {
            padding: 0px 10px;
            box-sizing: border-box;
        }
    }
}