.flexRow {
    &--shelf__image {
        display: block;
        position: relative;
        margin-bottom: 15px;

        &:hover {
            :global(.vtex-shelf-variations) {
                opacity: 1;
                visibility: visible;
            }
        }

        .flexRowContent,
        .stretchChildrenWidth {
            display: block;
            min-width: 100%;
        }
    }

    &--shelf__prices {
        .flexRowContent {
            display: block;
        }
    }

    &--shelf__flags--wrapper {
        position: absolute;
        top: 0;
        left: 12px;

        .stretchChildrenWidth {
            min-width: 100% !important;
            display: block;
        }
    }
}