.newsletterForm {
    &--footer__newsletter--form {
        display: flex;
        align-items: center;
        max-width: 650px;

        .emailInputContainer {
            flex: 1;
            display: block;

            :global(.vtex-input-prefix__group) {
                height: unset;
                border: unset;
                border-radius: unset;
            }

            :global(.vtex-styleguide-9-x-input) {
                border: unset;
                height: 30px;
                color: #757575;
                font-size: 12px;
                font-style: italic;
                font-weight: 400;
                line-height: normal;
                letter-spacing: 2px;
                text-align: center;
                border: 0;
                display: block;
                border-radius: 0;
                text-align: left;

                @media (min-width: 1025px) {
                    height: 40px;
                    font-size: 20px;
                }
            }
        }

        .formSubmitContainer {
            display: block;

            :global(.vtex-button) {
                padding: 0;
                margin: 0;
                background: unset;
                border: 0;
            }

            :global(.vtex-button__label) {
                height: 30px;
                background: #000;
                color: #FFF;
                text-align: center;
                font-size: 12px;
                font-style: normal;
                font-weight: 700;
                line-height: 24px;
                letter-spacing: 1.6px;
                text-transform: uppercase;
                width: 106px;

                @media (min-width: 1025px) {
                    height: 40px;
                    font-size: 16px;
                }
            }
        }
    }
}