.imageWrapper {
    &--search__banner {
        display: block;
        margin-bottom: 5px;

        .image {
            display: block;
            width: 100%;
            height: auto;
        }
    }
}