.drawer {
    &--search__filter {
        box-shadow: 0 3px 10px rgba(0, 0, 0, 0.16);
    }
}

.drawerContent {

    &--search__filter,
    &--search__orderby {
        display: block;
        position: relative;
        overflow: unset;
    }
}

.overlay {
    &--search__filter {
        background: transparent;
    }
}

.childrenContainer {

    &--search__filter,
    &--search__orderby {
        display: block;
        position: relative;
    }
}

.openIconContainer {

    &--search__filter,
    &--search__orderby {
        padding: 0;
    }
}

.closeIconContainer {

    &--search__filter,
    &--search__orderby {
        position: absolute;
        right: 15px;
        z-index: 20;
        height: 50px;
        width: 19px;
        display: flex;
        top: 23px;
        align-items: center;

        .closeIcon {
            width: 17px;
        }

        .closeIconButton {
            padding: 0;
        }
    }
}