.flexRow {
    // &--search__filter--header {
    //     border-bottom: 1px solid #e5e0d2;

    //     .flexRowContent {
    //         padding: 0px 30px;
    //         height: 50px;
    //         align-items: center;
    //         display: flex;

    //         @media all and (max-width: 1024px) {
    //             padding: 0px 15px;
    //         }

    //         &::before {
    //             content: "";
    //             width: 19px;
    //         }
    //     }
    // }

    &--search__filter-container {
        width: calc(100% - 40px);
        margin: 0 auto 35px;

        @media (min-width: 1025px) {
            width: calc(100% - 100px);
        }

        .flexRowContent {
            align-items: center;
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;

            @media (min-width: 1025px) {
                flex-wrap: unset;
            }

            .stretchChildrenWidth {
                &:nth-child(n+1):not(:nth-child(n+2)) {
                    width: 100% !important;
                }
            }
        }
    }

    &--search__products {
        width: calc(100% - 20px);
        margin: 0 auto 35px;

        @media (min-width: 1025px) {
            width: calc(100% - 100px);
        }
    }

    // &--search__not-found__text {
    //     @extend %maxcontainer;
    //     display: block;

    //     .flexRowContent {
    //         display: block;
    //     }
    // }
}