.galleryTitle--layout {
    color: #282828;
    font-size: 28px;
    font-weight: 500;
    font-style: normal;
    letter-spacing: 1.4px;
    margin: 0;

    @media all and (max-width: 1024px) {
        margin-bottom: 20px;
    }
}

.orderBy--layout {
    @media all and (max-width: 1024px) {
        width: calc(50vw - 20px) !important;
    }
}

.orderByButton,
.orderByDropdown {
    padding: 0;
    margin: 0;
}

.orderByDropdown {
    position: relative;
    display: flex;
    align-items: flex-start;
    padding: 20px 20px 0;
    box-sizing: border-box;

    .orderByButton {
        display: none;
    }

    .orderByOptionsContainer {
        display: block !important;
        position: static;
        box-shadow: none;
        border: 0;
        padding: 0;

        .orderByOptionItem {
            padding: 0;
            color: #000;
            text-transform: lowercase;
            line-height: 30px;
            min-width: unset;
            font-family: 'Encode Sans Condensed';
            font-size: 15px;


            &:hover {
                background: #fff;
                text-decoration: underline;
                color: #000;
            }

            &--selected {
                background: #fff;
                color: #000;
                font-weight: 700;
            }
        }
    }
}

.galleryLayoutSwitcher {
    display: flex;
    align-items: center;

    @media (min-width: 1025px) {
        margin-left: 30px;
    }

    &::before {
        content: "VISUALIZAÇÃO: ";
        font-size: 14px;
        font-weight: 300;
        text-transform: uppercase;
        margin-right: 10px;

        @media (min-width: 1025px) {
            font-size: 16px;
            margin-right: 25px;
        }
    }

    .galleryLayoutOptionButton {
        padding: 0;
        justify-content: center;

        &--selected {
            --color: #000;
            --weight: 700
        }

        &:nth-child(n+2) {
            border-left: 1px solid #000;
            padding-left: 5px;
            margin-left: 5px;
        }
    }
}

.gallery {
    padding: 0;
    display: grid;
    gap: 10px;
    margin: 0;

    @media (min-width:1025px) {
        gap: 20px;
    }

    &--grid-3 {
        grid-template-columns: 1fr 1fr 1fr;

        @media all and (max-width: 1024px) {
            grid-template-columns: 1fr 1fr;
        }
    }

    &--grid-4 {
        grid-template-columns: 1fr 1fr 1fr 1fr;

        @media all and (max-width: 1024px) {
            grid-template-columns: 1fr 1fr;
        }
    }

    .galleryItem {
        padding: 0;
        max-width: 100% !important;

        :global(.vtex-product-summary-2-x-container--shelf) {
            padding: 0;
        }
    }
}

.buttonShowMore {
    :global(.vtex-button) {
        border: 0;
        border-radius: 0;
        width: 280px;
        height: 40px;
        background-color: #e6964b;
        padding: 0;
        display: block;
        margin: 0 auto 60px;

        &::before {
            content: "carregar mais produtos";
            color: #fff;
            font-size: 13px;
            font-weight: 500;
            font-style: normal;
            letter-spacing: 0.65px;
            display: block;
            text-align: center;
            font-family: Inter;
            text-transform: lowercase;
        }
    }

    :global(.vtex-button__label) {
        display: none;
    }

    &--next {
        :global(.vtex-button) {
            &::before {
                content: "ver mais produtos";
            }
        }
    }

    &--prev {
        :global(.vtex-button) {
            &::before {
                content: "ver produtos anteriores";
            }
        }
    }
}

.filter__container {
    border-bottom: 1px solid #000;

    &--priceRange,
    &--brand,
    &--title,
    &--selectedFilters,
    &--category-3,
    &--categorias {
        display: none;
    }

    :global(.vtex-checkbox__inner-container) {
        border: 1px solid #000;
        background: transparent;
        width: 16px;
        height: 16px;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 0;
    }

    :global(.vtex-checkbox__line-container) {
        display: flex;
        align-items: center;
    }

    :global(.vtex-checkbox__label) {
        color: #000;
        font-size: 13px;
        font-weight: 400;
        font-style: normal;
        letter-spacing: 0.65px;
        line-height: 32px;
    }

    .filter {
        padding: 0;
    }

    .filterItem {
        &--selected {
            :global(.vtex-checkbox__box-wrapper) {
                display: none;
            }

            :global(.vtex-checkbox__inner-container) {
                border: 1px solid #000;
            }

            :global(.vtex-checkbox__inner-container)::before {
                content: "";
                width: 8px;
                height: 8px;
                background: #000;
                display: block;
                position: relative;
            }
        }
    }

    .filterTitleSpan {
        color: #000;
        font-size: 12px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        letter-spacing: 1.2px;
        text-transform: uppercase;
    }

    .filterIcon {
        filter: brightness(0.7);
        padding: 0;
        min-width: 40px;
        height: 60px;
        justify-content: flex-end;
        color: #000;

        .caretIcon {
            width: 10px;
        }
    }
}

.filters--layout {
    width: 100%;
    padding: 0 20px;
    margin: 0;
    box-sizing: border-box;
    height: calc(100vh - 100px);
    overflow-y: auto;
    padding-bottom: 150px;
}

.filterTemplateOverflow {
    max-height: unset !important;

    .filterContent {
        box-sizing: border-box;
    }
}

.searchNotFoundInfo {
    display: block;
    text-align: center;
    padding: 0;
    font-size: 0;
}

.searchNotFound {
    display: block;
    height: auto;

    .searchNotFoundOops,
    .searchNotFoundWhatToDoDotsContainer,
    .searchNotFoundWhatDoIDo {
        display: none;
    }

    .searchNotFoundTextListLine {
        @extend %maxcontainer;
        font-size: 14px;
        color: #000;
        text-transform: uppercase;
        display: block;
        margin: 20px auto 100px;
        line-height: 1;
        box-sizing: border-box;
        text-align: left;
        font-family: "Encode Sans Condensed";
        letter-spacing: 1.2px;
        font-weight: 400;
    }

    .searchNotFoundTerm {
        font-size: 14px;
        font-weight: 600;
        color: #000;
    }
}