.container {
    &--search__seo {
        display: block;
        margin-bottom: 30px;

        @media (min-width: 1025px) {
            margin-bottom: 0;
            margin-right: 50px;
        }

        .wrapper {
            display: block;

            @media (min-width: 1025px) {
                display: flex;
                align-items: center;
            }
        }

        .headingLevel1 {
            color: #000;
            font-size: 24px;
            font-weight: 400;
            font-style: normal;
            letter-spacing: 1.2px;
            text-align: center;
            display: block;
            text-decoration: underline;
            text-underline-offset: 3px;
            margin-bottom: 15px;

            @media (min-width: 1025px) {
                margin: 0;
            }

        }

        .paragraph {
            color: #666;
            font-size: 12px;
            font-weight: 400;
            font-style: normal;
            line-height: 23px;
            text-align: center;

            @media (min-width: 1025px) {
                text-align: left;
                padding-left: 35px;
                margin-left: 35px;
                border-left: 2px solid #D1D1D1;
                font-size: 14px;
            }
        }
    }

    &--search__seo__bottom {
        display: block;
        margin-bottom: 30px;

        @extend %maxcontainer;

        .headingLevel1 {
            color: #000;
            font-size: 24px;
            font-weight: 400;
            font-style: normal;
            letter-spacing: 1.2px;
            text-align: center;
            display: block;
            text-decoration: underline;
            text-underline-offset: 3px;
            margin-bottom: 15px;

            @media (min-width: 1025px) {
                margin: 0;
            }

        }

        .wrapper {
            display: block;

            @media (min-width: 1025px) {
                display: flex;
                align-items: center;
            }
        }

        .paragraph {
            color: #666;
            font-size: 12px;
            font-weight: 400;
            font-style: normal;
            line-height: 23px;
            text-align: center;

            @media (min-width: 1025px) {
                text-align: left;
                font-size: 14px;
            }
        }
    }

    &--search__filter--triggertext,
    &--search__orderby--triggertext {
        display: block;

        .paragraph {
            color: #000;
            font-size: 14px;
            font-weight: 300;
            font-style: normal;
            line-height: 16px;
            text-transform: uppercase;
            display: flex;
            align-items: center;

            @media (min-width: 1025px) {
                font-size: 16px;
            }

            &::after {
                content: "";
                display: block;
                width: 12px;
                height: 12px;
                background: url(assets/icons/icon-arrow-down.png) no-repeat;
                margin-left: 10px;
                background-position: center;

                @media (min-width: 1025px) {
                    width: 16px;
                    height: 16px;
                    margin-left: 20px;
                }
            }
        }
    }

    &--search__orderby--triggertext {
        @media (min-width: 1025px) {
            margin-left: 30px;
        }
    }

    &--grid-text {
        .paragraph {
            font-weight: var(--weight);
            color: #000;
            font-size: 16px;
            text-transform: uppercase;
        }
    }

    &--search__filter--header-title {
        color: #000;
        font-size: 12px;
        font-weight: 400;
        font-style: normal;
        text-transform: uppercase;
        display: block;
    }

    &--search__not-found__text {
        width: 100%;
        display: block;
        max-width: 460px;
        margin: 0 auto 100px;

        &::before {
            content: "";
            width: 20px;
            height: 20px;
            background: url(assets/icons/icon-lupa.svg) no-repeat;
            background-size: contain;
            margin: 0 auto;
            display: block;
        }

        .list {
            padding: 0;
            text-align: center;
            display: block;
        }

        .listItem {
            text-align: center;
            display: flex;
            margin: 0 auto;
            justify-content: center;
            line-height: 1.5;
            align-items: center;

            &::before {
                content: "";
                width: 5px;
                height: 5px;
                background: #888;
                border-radius: 100%;
                margin-right: 10px;
            }
        }

        .paragraph {
            color: #888;
            text-align: center;
            font-family: "Encode Sans";
            font-size: 16px;
            font-style: normal;
            font-weight: 400;
            line-height: normal;

            .strong {
                font-weight: 500 !important;
                color: #000;
                margin: 10px 0;
                text-align: center;
                display: block;
            }
        }

        .wrapper {
            width: 100%;
        }
    }
}