.container {
    &--search__seo {
        display: block;
        margin-bottom: 30px;

        @media (min-width: 1025px) {
            margin-bottom: 0;
            margin-right: 50px;
        }

        .wrapper {
            display: block;

            @media (min-width: 1025px) {
                display: flex;
                align-items: center;
            }
        }

        .headingLevel1 {
            color: #000;
            font-size: 24px;
            font-weight: 400;
            font-style: normal;
            letter-spacing: 1.2px;
            text-align: center;
            display: block;
            text-decoration: underline;
            text-underline-offset: 3px;
            margin-bottom: 15px;

            @media (min-width: 1025px) {
                margin: 0;
            }

        }

        .paragraph {
            color: #666;
            font-size: 12px;
            font-weight: 400;
            font-style: normal;
            line-height: 23px;
            text-align: center;

            @media (min-width: 1025px) {
                text-align: left;
                padding-left: 35px;
                margin-left: 35px;
                border-left: 2px solid #D1D1D1;
                font-size: 14px;
            }
        }
    }

    &--search__filter--triggertext,
    &--search__orderby--triggertext {
        display: block;

        .paragraph {
            color: #000;
            font-size: 14px;
            font-weight: 300;
            font-style: normal;
            line-height: 16px;
            text-transform: uppercase;
            display: flex;
            align-items: center;

            @media (min-width: 1025px) {
                font-size: 16px;
            }

            &::after {
                content: "";
                display: block;
                width: 12px;
                height: 12px;
                background: url(assets/icons/icon-arrow-down.png) no-repeat;
                margin-left: 10px;
                background-position: center;

                @media (min-width: 1025px) {
                    width: 16px;
                    height: 16px;
                    margin-left: 20px;
                }
            }
        }
    }

    &--search__orderby--triggertext {
        @media (min-width: 1025px) {
            margin-left: 30px;
        }
    }

    &--grid-text {
        .paragraph {
            font-weight: var(--weight);
            color: #000;
            font-size: 16px;
            text-transform: uppercase;
        }
    }

    // &--search__filter--header-title {
    //     color: #1a1a1a;
    //     font-size: 13px;
    //     font-weight: 500;
    //     font-style: normal;
    //     letter-spacing: 0.65px;
    //     line-height: 21px;
    // }

    // &--search__not-found__text {
    //     width: 100%;

    //     .wrapper {
    //         width: 100%;
    //     }

    //     .headingLevel2 {
    //         color: #282828;
    //         font-family: 'Inter', sans-serif;
    //         font-size: 28px;
    //         font-weight: 500;
    //         font-style: normal;
    //         letter-spacing: 1.4px;
    //         display: block;
    //         text-align: center;
    //         margin-top: 100px;
    //         margin-bottom: 30px;
    //     }

    //     .paragraph {
    //         margin-bottom: 200px;
    //         color: #4d4d4d;
    //         font-family: 'Inter', sans-serif;
    //         font-size: 18px;
    //         font-weight: 400;
    //         font-style: normal;
    //         letter-spacing: 0.9px;
    //         display: block;
    //         text-align: center;
    //     }
    // }
}