.flexRow {
    &--search__filter--header {
        border-bottom: 1px solid #000;
        width: calc(100% - 40px);
        margin: 0 auto;

        .flexRowContent {
            padding: 40px 0px 20px;
            align-items: center;
            display: flex;
            justify-content: flex-start;
        }
    }

    &--search__filter-container {
        width: calc(100% - 40px);
        margin: 0 auto 35px;

        @media (min-width: 1025px) {
            width: calc(100% - 100px);
        }

        .flexRowContent {
            align-items: center;
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;

            @media (min-width: 1025px) {
                flex-wrap: unset;
            }

            .stretchChildrenWidth {
                &:nth-child(n+1):not(:nth-child(n+2)) {
                    width: 100% !important;
                }
            }
        }
    }

    &--search__products {
        width: calc(100% - 20px);
        margin: 0 auto 35px;

        @media (min-width: 1025px) {
            width: calc(100% - 100px);
        }
    }

    // &--search__not-found__text {
    //     @extend %maxcontainer;
    //     display: block;

    //     .flexRowContent {
    //         display: block;
    //     }
    // }
}