.drawer {
    &--search__filter {
        box-shadow: 0 3px 10px rgba(0, 0, 0, 0.16);
    }
}

.drawerContent {
    &--search__filter {
        display: block;
        position: relative;
    }
}

.overlay {
    &--search__filter {
        background-color: #ffffff;
        opacity: 0.7;
    }
}

.childrenContainer {

    &--search__filter,
    &--search__orderby {
        display: block;
        position: relative;
    }
}

.openIconContainer {

    &--search__filter,
    &--search__orderby {
        padding: 0;
    }
}

.closeIconContainer {

    &--search__filter,
    &--search__orderby {
        position: absolute;
        left: 20px;
        z-index: 20;
        height: 50px;
        width: 19px;
        display: flex;
        top: 2px;
        align-items: center;

        @media all and (max-width: 1024px) {
            left: 15px;
        }

        .closeIcon {
            width: 17px;
        }

        .closeIconButton {
            padding: 0;
        }
    }
}