.trigger {
    &--footer__trigger {
        padding: 0;
        margin: 0;
        background: unset;
        border: 0;


        @media all and (max-width:991px) {
            display: flex;
            align-items: flex-start;
            justify-content: space-between;
            padding: 20px 0;

            &::after {
                content: "";
                width: 13px;
                height: 13px;
                background: url(assets/icons/icon-arrow-down.png) no-repeat;
                background-size: contain;
                background-position: center;
            }

            &--visible {
                &::after {
                    transform: rotateZ(180deg);
                    filter: brightness(0);
                }

                :global(.vtex-rich-text-0-x-paragraph) {
                    color: #1a1a1a !important;
                    font-weight: 600 !important;
                }
            }
        }

    }
}

.content {
    &--footer__content {
        display: block !important;

        &-pagamento {
            border-bottom: none;
            display: grid !important;
            gap: 20px;
            grid-template-columns: repeat(8, auto);
            border-bottom: 1px solid #ABABAB;
            padding-bottom: 40px;
            margin-bottom: 30px;

            @media (min-width:1025px) {
                margin-bottom: 40px;
            }
        }

        @media all and (max-width:991px) {
            border-bottom: 1px solid #E5E5E5;
            display: block;
            padding-bottom: 0px;
            max-height: 0;
            transition: 0.3s;
            overflow: hidden;

            &--visible {
                max-height: 100%;
                padding-bottom: 20px;
            }
        }
    }
}