.flexRow {
    &--footer {
        .flexRowContent--footer {
            display: block;
        }
    }

    &--footer__newsletter {
        background: #1E1E1E;
        padding: 20px 0;

        @media (min-width: 1025px) {
            background: #F0F0F0;
            padding: 40px 0;
        }

        .flexRowContent {
            @extend %maxcontainer;
            display: block;

            @media (min-width: 1025px) {
                display: flex;
                justify-content: center;
                align-items: center;
                gap: 30px;
            }
        }

        .stretchChildrenWidth:nth-child(n+2) {
            flex: 1;
        }
    }

    &--footer__links {
        padding: 20px 0 0;

        @media (min-width: 1025px) {
            padding: 40px 0 70px;
        }

        .flexRowContent--footer__links {
            @extend %maxcontainer;
            display: block;

            @media (min-width: 1025px) {
                display: grid;
                grid-template-columns: auto auto auto auto;
                grid-gap: 20px;
            }
        }

        .stretchChildrenWidth {
            display: block;
        }
    }

    &--footer__siteseguro {
        margin-top: 20px;
        border-bottom: 1px solid #E5E5E5;
        padding-bottom: 20px;
        margin-bottom: 20px;

        @media (min-width: 1025px) {
            margin: 0;
            border: 0;
            padding: 0;
        }

        .flexRowContent {
            gap: 40px;
            display: flex;
            justify-content: flex-start;
        }
    }

    &--footer__social {
        border-bottom: 1px solid #E5E5E5;
        padding-bottom: 20px;
        margin-bottom: 20px;

        @media (min-width: 1025px) {
            margin-bottom: 52px;
            border: 0;
            padding: 0;
        }

        .flexRowContent {
            @extend %maxcontainer;
            display: flex;
            align-items: center;
            justify-content: flex-start;
            gap: 0 30px;
            flex-wrap: wrap;

            @media (min-width: 1025px) {
                gap: 40px;
                justify-content: center;
            }

            &::before {
                content: "acompanhe nas redes:";
                color: #1E1E1E;
                font-size: 16px;
                font-style: normal;
                font-weight: 600;
                line-height: 24px;
                letter-spacing: 1.6px;
                text-transform: uppercase;
                width: 100%;
                margin-bottom: 20px;

                @media (min-width: 1025px) {
                    width: auto;
                    font-size: 20px;
                    font-weight: 400;
                    letter-spacing: 2px;
                    margin: 0;
                }
            }
        }

        .stretchChildrenWidth {
            display: block;
        }
    }

    &--footer__copyright {
        .flexRowContent {
            @extend %maxcontainer;
            padding-bottom: 30px;
        }
    }
}