.menuContainerNav {
    &--footer__institucional--link {
        .menuContainer {
            display: block;
        }

        .styledLinkContainer {
            padding: 0;
            margin: 0 0 15px;
        }

        .styledLink {
            display: block;
            color: #1E1E1E;
            font-size: 15px;
            font-style: normal;
            font-weight: 250;
            line-height: 15px;
            letter-spacing: 2px;
        }
    }
}