%btn {
    background: #e5e0d2 !important;
    height: 40px;
    text-transform: lowercase;
    color: #4d4d4d;
    font-family: 'Inter', sans-serif;
    font-size: 13px;
    font-weight: 400;
    font-style: normal;
    letter-spacing: .65px;
    line-height: 35px;
    padding: 0;
    border-radius: 0;
    box-shadow: none;
    border: 1px solid #e5e0d2 !important;
    box-shadow: none;
    transition: 0.3s;
    box-sizing: border-box;
    padding: 0px 20px;

    &:hover {
        border: 1px solid #e6964b !important;
        color: #fff;
        background: #e6964b !important;
    }
}

%label {
    margin-bottom: 10px;
    display: block;
    color: #1a1a1a;
    font-family: 'Inter', sans-serif;
    font-size: 13px;
    font-weight: 600;
    font-style: normal;
    letter-spacing: 0.65px;
    text-transform: lowercase;
}

%text {
    display: block;
    color: #999;
    font-family: 'Inter', sans-serif;
    font-size: 13px;
    font-weight: 400;
    font-style: normal;
    letter-spacing: 0.65px;
    text-transform: lowercase;
}

%title {
    font-size: 28px;
    font-weight: 500;
    font-style: normal;
    letter-spacing: 1.4px;
    line-height: 1;
    margin-bottom: 40px;
    text-transform: lowercase;
    color: #1a1a1a;
}

%link {
    text-decoration: underline;
    display: block;
    color: #e6964b;
    font-family: 'Inter', sans-serif;
    font-size: 13px;
    font-weight: 600;
    font-style: normal;
    letter-spacing: .65px;
    line-height: 1;
    text-transform: lowercase;
}

%input {
    height: auto;
    border: 0;
    border-bottom: 1px solid #000;
    width: 100%;
    background: rgba(0, 0, 0, 0) !important;
    box-sizing: border-box;
    border-radius: 0;
    padding: 0;
    box-shadow: none !important;
    max-width: unset;
    color: #1a1a1a;
    font-family: 'Inter', sans-serif;
    font-size: 13px;
    font-weight: 600;
    font-style: normal;
    letter-spacing: .65px;
    padding: 0px 5px 5px;
    border-radius: 0;
}

.orderPlacedWrapper {
    //@extend %whiteheader;

    :global(.vtex-button__label),
    :global(.vtex-button) {
        margin: 0;
        background: transparent;
        border: 0;
        min-height: unset;
        color: #000;
    }

    :global(.vtex-button__label) {
        @extend %btn;
    }

    .noticesList {
        background: #f5f5f5;
    }
}