%btnblack {
    background: #000;
    height: 40px;
    min-width: 80px;
    line-height: 40px;
    display: block;
    color: #fff;
    cursor: pointer;
    font-size: 10px;
    text-transform: uppercase;
    letter-spacing: 1px;
    border: 1px solid #000;
}

%btnlight {
    background: #fff;
    height: 40px;
    min-width: 80px;
    line-height: 40px;
    display: block;
    color: #000;
    cursor: pointer;
    font-size: 10px;
    text-transform: uppercase;
    letter-spacing: 1.5px;
    border: 1px solid #000;
}

%btn {
    background: #000 !important;
    height: 45px;
    text-transform: lowercase;
    color: #FFF;
    font-size: 10px;
    font-style: normal;
    line-height: 45px;
    padding: 0;
    border-radius: 0;
    box-shadow: none;
    border: 1px solid #000 !important;
    box-shadow: none;
    transition: 0.3s;
    box-sizing: border-box;
    text-transform: uppercase;
    text-decoration: none;
    min-width: 80px;
    display: block;
    font-size: 16px;
    font-weight: 600;
    letter-spacing: 1px;


    &:hover {
        border: 1px solid #000 !important;
        color: #fff;
        background: #000 !important;

        &::before {
            filter: brightness(100);
        }
    }
}

%link {
    text-decoration: underline;
    display: block;
    color: #707070;
    font-size: 11px;
    font-weight: 400;
    font-style: normal;
    line-height: 1;
}

%input {
    border: 0;
    width: 100%;
    background: rgba(0, 0, 0, 0) !important;
    box-sizing: border-box;
    padding: 0;
    box-shadow: none !important;
    color: #6C717A;
    font-size: 13px;
    font-weight: 400;
    font-style: normal;
    padding: 10px;
    border-radius: 0;
    height: 40px;
    border: 1px solid #E8E9EB;
    max-width: 473px;
    margin: 0 auto;

    &::placeholder {
        color: #6C717A;
    }
}

%title {
    color: #000;
    line-height: 1;
    margin: 0 auto 20px;
    display: block;
    width: 100%;
    text-align: center;
    font-size: 15px;
    text-transform: uppercase;
    font-weight: 400;
    letter-spacing: 1.95px;
    line-height: 20px;
    font-weight: 400;
}

.container {
    :global(.vtex-button) {
        padding: 0;
        margin: 0;
        width: 22px;
        height: 22px;
        background: url(assets/icons/icon-user.png) no-repeat;
        background-size: contain;
        min-height: unset;
        border: 0;

        :nth-child(n+1) {
            display: none;
        }
    }
}


.portalContainer {
    background: rgba(0, 0, 0, .5);
    width: 100%;
    height: 100%;
    background-size: cover;
    position: relative;

    // &::before {
    //     content: "" !important;
    //     width: 150px;
    //     height: 150px;
    //     background: url(/assets/icons/logo_aloyogabr.svg) no-repeat;
    //     background-size: contain;
    //     background-position: center;
    //     position: absolute;
    //     left: 50%;
    //     transform: translate(-50%, - 50%);
    //     top: calc(50% - 300px);
    //     z-index: 10;
    // }

    .portalWrapper {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }

    .arrowUp {
        display: none;
    }

    .box {
        margin: 0;
        width: 450px;
    }

    .contentContainer {
        box-shadow: none;
        margin: 0;
    }

    .contentInitialScreen {
        background: #fff;
        box-sizing: border-box;
        display: block;
    }

    .dontHaveAccount {
        @extend %link;
        margin-top: -30px;
    }

    .formTitle {
        padding: 0;
        font-size: 0;
        margin: 0;

        &::before {
            content: "Use uma das opções para fazer login";
            @extend %title;
        }
    }

    .optionsList {
        margin: 0;

        .optionsListItem {
            margin-bottom: 15px;
        }

        // &::before {
        //     content: "use uma das opções para fazer login";
        //     display: none;
        // }

        .button {

            :global(.vtex-button__label),
            :global(.vtex-button) {
                padding: 0 !important;
                margin: 0;
                background: transparent;
                border: 0;
                min-height: unset;
            }

            :global(.vtex-button__label) {
                @extend %btn;
            }
        }
    }

    .content {
        background: #fff;
        box-sizing: border-box;
        display: block;
        min-height: unset;


        &--emailVerification {
            :global(.vtex-login-2-x-formTitle) {
                &::before {
                    display: none;
                }

                &::after {
                    content: "Por favor informe seu email";
                    @extend %title;
                }
            }
        }

        &--emailAndPassword {
            :global(.vtex-login-2-x-formTitle) {
                &::before {
                    display: none;
                }

                &::after {
                    content: "Entrar com email e senha";
                    @extend %title;
                }
            }
        }

        .contentForm {
            padding: 15px;
        }

        .formLinkContainer {
            max-width: 473px;
            margin: 0 auto;

            .forgotPasswordLink {
                @extend %link;
            }
        }

        .inputContainer {

            :global(.vtex-input-prefix__group) {
                height: unset;
                border: 0;
                border-radius: 0;
            }

            :global(.vtex-styleguide-9-x-input) {
                @extend %input;
            }
        }

        .inputContainerPassword {
            padding: 0;
            margin: 20px auto;

            :global(.vtex-input__suffix) {
                display: none;
            }
        }

        .formFooter {
            border: 0;
            padding: 0;
            margin: 0;
            //width: calc(100% + 60px);
            //border-top: 1px solid #ddd;
            padding: 30px 0px 0;
            //margin-left: -30px;

            .sendButton {

                :global(.vtex-button__label),
                :global(.vtex-button) {
                    padding: 0 !important;
                    margin: 0;
                    background: transparent;
                    border: 0;
                    min-height: unset;
                }

                :global(.vtex-button__label) {


                    :nth-child(n+1) {
                        font-size: 0;
                    }

                    &::before {
                        content: "ENTRAR";
                        @extend %btnblack;
                    }
                }
            }

            .backButton {

                :global(.vtex-button__label),
                :global(.vtex-button) {
                    padding: 0 !important;
                    margin: 0;
                    background: transparent;
                    border: 0;
                    min-height: unset;
                }

                :global(.vtex-button__label) {


                    :nth-child(n+1) {
                        font-size: 0;
                        display: none;
                    }

                    &::before {
                        content: "voltar";
                        @extend %btnlight;
                    }
                }
            }
        }
    }
}

.content--loginOptions,
.content--emailVerification,
.content--emailAndPassword,
.content--codeConfirmation,
.content--beginCreatePass {
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    //background: url(https://aloyogabr.vtexassets.com/arquivos/banner-login.jpg) no-repeat #fff;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 0;

    @media all and (max-width: 767px) {
        //background: url(/assets/images/bg-login-mobile.png) no-repeat;
        background-size: cover;
    }

    .options {
        min-width: unset
    }

    .inputContainerAccessCode {
        max-width: 215px;
        margin: 0 auto;
        display: block;
    }

    .contentForm {
        box-shadow: none;
        width: 100%;
        margin: 0;
        background: #fff;
        padding: 30px 15px;
        box-sizing: border-box;
        display: block;
        width: 450px;
        box-shadow: 0 0 10px rgba(0, 0, 0, .07);

        @media all and (max-width: 767px) {
            min-width: auto;
            width: calc(100% - 30px);
            max-width: 450px;
            padding: 20px 15px;
        }
    }

    .formTitle {
        padding: 0;
        font-size: 0;
        margin: 0;

        &::before {
            content: "Use uma das opções para confirmar sua identidade";
            @extend %title;
        }
    }

    .optionsList {
        margin: 0 auto;
        // max-width: 475px;
        display: block;

        .optionsListItem {
            margin-bottom: 15px;
        }

        .emailPasswordOptionBtn {
            position: relative;
            //background: #e5e0d2;

            :global(.vtex-button__label) {
                // &::before {
                //     content: "";
                //     width: 20px;
                //     height: 20px;
                //     background: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" width="14.347" height="16" viewBox="0 0 14.347 16"><g id="icon-password" transform="translate(0 0)"><path id="Caminho_2025" data-name="Caminho 2025" style="fill: #222;" d="M25.436,25.016a1.331,1.331,0,0,0-.383-.821l-2.327-2.327a.746.746,0,0,0-1.03,0,.728.728,0,0,0,0,1.03l1.524,1.524h-8.47a.729.729,0,1,0,0,1.458h8.47L21.695,27.4a.729.729,0,1,0,1.03,1.03l2.327-2.327a1.331,1.331,0,0,0,.383-.821.725.725,0,0,0,0-.27" transform="translate(-11.102 -17.151)" fill="#4d4d4d"/><path id="Caminho_2026" data-name="Caminho 2026" style="fill: #222;" d="M4.493,14.542H2.543a1.087,1.087,0,0,1-1.086-1.086V2.543A1.087,1.087,0,0,1,2.543,1.458h1.95A.729.729,0,0,0,4.493,0H2.543A2.546,2.546,0,0,0,0,2.543V13.457A2.546,2.546,0,0,0,2.543,16h1.95a.729.729,0,0,0,0-1.458" transform="translate(0 0)" fill="#4d4d4d"/></g></svg>') no-repeat;
                //     display: block;
                //     position: absolute;
                //     left: 17px;
                //     top: 10px;
                //     z-index: 10;
                //     background-size: contain;
                // }
            }
        }

        .accessCodeOptionBtn {
            position: relative;
            //background: #e5e0d2;

            :global(.vtex-button__label) {
                // &::before {
                //     content: "";
                //     width: 20px;
                //     height: 20px;
                //     background: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" width="20.493" height="16" viewBox="0 0 20.493 16"><path id="icon-mail" style="fill: #222;" d="M18.9,0H1.594A1.6,1.6,0,0,0,0,1.594V14.406A1.6,1.6,0,0,0,1.594,16H18.9a1.6,1.6,0,0,0,1.594-1.594V1.594A1.6,1.6,0,0,0,18.9,0M11.123,7.231a1.337,1.337,0,0,1-1.758,0L2.619,1.411H17.884Zm7.959-4.989V14.406a.184.184,0,0,1-.183.183H1.594a.184.184,0,0,1-.183-.183V2.233L8.443,8.293a2.738,2.738,0,0,0,3.6.007Z" fill="#4d4d4d"/></svg>') no-repeat;
                //     display: block;
                //     position: absolute;
                //     left: 15px;
                //     top: 12px;
                //     z-index: 10;
                //     background-size: contain;
                // }
            }
        }

        .googleOptionBtn {
            position: relative;

            :global(.vtex-button__label) {
                // &::before {
                //     content: "";
                //     width: 20px;
                //     height: 20px;
                //     background: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" width="20.493" height="16" viewBox="0 0 20.493 16"><path id="icon-mail" style="fill: #222;" d="M18.9,0H1.594A1.6,1.6,0,0,0,0,1.594V14.406A1.6,1.6,0,0,0,1.594,16H18.9a1.6,1.6,0,0,0,1.594-1.594V1.594A1.6,1.6,0,0,0,18.9,0M11.123,7.231a1.337,1.337,0,0,1-1.758,0L2.619,1.411H17.884Zm7.959-4.989V14.406a.184.184,0,0,1-.183.183H1.594a.184.184,0,0,1-.183-.183V2.233L8.443,8.293a2.738,2.738,0,0,0,3.6.007Z" fill="#4d4d4d"/></svg>') no-repeat;
                //     display: block;
                //     position: absolute;
                //     left: 15px;
                //     top: 12px;
                //     z-index: 10;
                //     background-size: contain;
                // }
            }
        }

        .facebookOptionBtn {
            position: relative;

            :global(.vtex-button__label) {
                // &::before {
                //     content: "";
                //     width: 20px;
                //     height: 20px;
                //     background: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" width="20.493" height="16" viewBox="0 0 20.493 16"><path id="icon-mail" style="fill: #222;" d="M18.9,0H1.594A1.6,1.6,0,0,0,0,1.594V14.406A1.6,1.6,0,0,0,1.594,16H18.9a1.6,1.6,0,0,0,1.594-1.594V1.594A1.6,1.6,0,0,0,18.9,0M11.123,7.231a1.337,1.337,0,0,1-1.758,0L2.619,1.411H17.884Zm7.959-4.989V14.406a.184.184,0,0,1-.183.183H1.594a.184.184,0,0,1-.183-.183V2.233L8.443,8.293a2.738,2.738,0,0,0,3.6.007Z" fill="#4d4d4d"/></svg>') no-repeat;
                //     display: block;
                //     position: absolute;
                //     left: 15px;
                //     top: 12px;
                //     z-index: 10;
                //     background-size: contain;
                // }
            }
        }

        .button {

            :global(.vtex-button__label),
            :global(.vtex-button) {
                padding: 0 !important;
                margin: 0;
                background: transparent;
                border: 0;
                min-height: unset;
            }

            :global(.vtex-login-2-x-oauthLabel) {
                font-size: 16px;
                font-weight: 600;
                letter-spacing: 1px;
                color: #fff;
                margin: 0;

            }

            :global(.vtex-button__label) {
                @extend %btn;
                padding-left: 20px !important;
                text-align: left;
            }
        }
    }

    .inputContainer {
        :global(.vtex-input-prefix__group) {
            height: unset;
            border: 0;
            border-radius: 0;
        }

        :global(.vtex-styleguide-9-x-input) {
            @extend %input;
        }
    }

    .inputContainerPassword {
        padding: 0;
        margin: 20px 0;

        :global(.vtex-input__suffix) {
            display: none;
        }
    }

    .formFooter {
        border: 0;
        padding: 0;
        margin: 0;
        //width: calc(100% + 60px);
        //border-top: 1px solid #ddd;
        padding: 30px 0px 0;
        //margin-left: -30px;

        .sendButton {

            :global(.vtex-button__label),
            :global(.vtex-button) {
                padding: 0 !important;
                margin: 0;
                background: transparent;
                border: 0;
                min-height: unset;
                //@extend %btn;
            }

            :global(.vtex-button__label) {


                :nth-child(n+1) {
                    font-size: 0;
                }

                &::before {
                    content: "ENTRAR";
                    @extend %btnblack;
                }
            }
        }

        .backButton {

            :global(.vtex-button__label),
            :global(.vtex-button) {
                padding: 0 !important;
                margin: 0;
                background: transparent;
                border: 0;
                min-height: unset;
            }

            :global(.vtex-button__label) {


                :nth-child(n+1) {
                    font-size: 0;
                    display: none;
                }

                &::before {
                    content: "voltar";
                    @extend %btnlight;
                }
            }
        }
    }
}