%btn {
    background: #e5e0d2 !important;
    height: 40px;
    text-transform: lowercase;
    color: #4d4d4d;
    font-family: 'Inter', sans-serif;
    font-size: 13px;
    font-weight: 400;
    font-style: normal;
    letter-spacing: .65px;
    line-height: 35px;
    padding: 0;
    border-radius: 0;
    box-shadow: none;
    border: 1px solid #e5e0d2 !important;
    box-shadow: none;
    transition: 0.3s;
    box-sizing: border-box;


    &:hover {
        border: 1px solid #e6964b !important;
        color: #fff;
        background: #e6964b !important;

        &::before {
            filter: brightness(100);
        }
    }
}

%link {
    text-decoration: underline;
    display: block;
    color: #e6964b;
    font-family: 'Inter', sans-serif;
    font-size: 13px;
    font-weight: 600;
    font-style: normal;
    letter-spacing: .65px;
    line-height: 1;
    text-transform: lowercase;
}

%input {
    height: auto;
    border: 0;
    border-bottom: 1px solid #000;
    width: 100%;
    background: rgba(0, 0, 0, 0) !important;
    box-sizing: border-box;
    border-radius: 0;
    padding: 0;
    box-shadow: none !important;
    max-width: unset;
    color: #1a1a1a;
    font-family: 'Inter', sans-serif;
    font-size: 13px;
    font-weight: 600;
    font-style: normal;
    letter-spacing: .65px;
    padding: 0px 5px 5px;
    border-radius: 0;
}

.container {
    :global(.vtex-button) {
        padding: 0;
        margin: 0;
        width: 22px;
        height: 22px;
        background: url(assets/icons/icon-user.png) no-repeat;
        background-size: contain;
        min-height: unset;
        border: 0;

        :nth-child(n+1) {
            display: none;
        }
    }
}

.portalContainer {
    background: rgba(255, 255, 255, .8);
    width: 100%;
    height: 100%;

    .portalWrapper {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }

    .arrowUp {
        display: none;
    }

    .box {
        margin: 0;
        min-width: 430px;
        width: 430px;
    }

    .contentContainer {
        box-shadow: none;
        min-width: 430px;
        width: 430px;
        margin: 0;
    }

    .contentInitialScreen {
        background: #faf8f2;
        box-sizing: border-box;
        display: block;
    }

    .formTitle {
        padding: 0;
        font-size: 0;
        margin: 0 auto 15px;

        &::before {
            content: "Entrar";
            font-size: 18px;
            display: block;
            color: #1a1a1a;
            font-weight: 500;
            font-style: normal;
            letter-spacing: 0.9px;
            text-align: center;
            text-transform: lowercase;
        }
    }

    .optionsList {
        margin: 0;

        .optionsListItem {
            margin-bottom: 15px;
        }

        &::before {
            content: "use uma das opções para fazer login";
            color: #4d4d4d;
            font-family: 'Inter', sans-serif;
            font-size: 13px;
            font-weight: 300;
            font-style: normal;
            letter-spacing: 0.65px;
            line-height: 1;
            display: block;
            text-align: center;
            margin-bottom: 30px;
        }

        .button {

            :global(.vtex-button__label),
            :global(.vtex-button) {
                padding: 0 !important;
                margin: 0;
                background: transparent;
                border: 0;
                min-height: unset;
            }

            :global(.vtex-button__label) {
                @extend %btn;
            }
        }
    }

    .content {
        background: #faf8f2;
        box-sizing: border-box;
        display: block;
        min-height: unset;

        &--emailVerification,
        &--emailAndPassword {
            :global(.vtex-login-2-x-formTitle) {
                &::after {
                    content: "por favor, informe seu e-mail";
                    color: #4d4d4d;
                    font-family: 'Inter', sans-serif;
                    font-size: 13px;
                    font-weight: 300;
                    font-style: normal;
                    letter-spacing: 0.65px;
                    line-height: 1;
                    display: block;
                    text-align: center;
                    margin-bottom: 30px;
                    margin-top: 15px;
                }
            }
        }

        .contentForm {
            padding: 30px;
        }

        .inputContainer {
            :global(.vtex-input-prefix__group) {
                height: unset;
                border: 0;
                border-radius: 0;
            }

            :global(.vtex-styleguide-9-x-input) {
                @extend %input;
            }
        }

        .inputContainerPassword {
            padding: 0;
            margin: 20px 0;

            :global(.vtex-input__suffix) {
                display: none;
            }
        }

        .formFooter {
            border: 0;
            padding: 0;
            margin-top: 30px;

            .sendButton {

                :global(.vtex-button__label),
                :global(.vtex-button) {
                    padding: 0 !important;
                    margin: 0;
                    background: transparent;
                    border: 0;
                    min-height: unset;
                }

                :global(.vtex-button__label) {


                    :nth-child(n+1) {
                        font-size: 0;
                    }

                    &::before {
                        content: "confirmar";
                        @extend %link;
                        text-transform: lowercase;
                        font-weight: 600;
                    }
                }
            }

            .backButton {

                :global(.vtex-button__label),
                :global(.vtex-button) {
                    padding: 0 !important;
                    margin: 0;
                    background: transparent;
                    border: 0;
                    min-height: unset;
                }

                :global(.vtex-button__label) {


                    :nth-child(n+1) {
                        font-size: 0;
                        display: none;
                    }

                    &::before {
                        content: "voltar";
                        @extend %link;
                        text-transform: lowercase;
                        font-weight: 600;
                        color: #999;
                    }
                }
            }
        }
    }
}

.content--loginOptions,
.content--emailVerification,
.content--emailAndPassword,
.content--codeConfirmation,
.content--beginCreatePass {
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background: url(/assetsimages/bg-login-desktop.png);
    background-repeat: no-repeat;
    background-size: cover;
    padding: 0;

    @media all and (max-width: 767px) {
        background: url(/assetsimages/bg-login-mobile.png) no-repeat;
        background-size: cover;
    }

    .options {
        min-width: unset
    }

    .contentForm {
        box-shadow: none;
        min-width: 430px;
        width: 430px;
        margin: 0;
        background: #faf8f2;
        padding: 30px;
        box-sizing: border-box;
        display: block;

        @media all and (max-width: 767px) {
            min-width: auto;
            width: calc(100% - 30px);
            max-width: 430px;
            padding: 20px;
        }
    }

    .formTitle {
        padding: 0;
        font-size: 0;
        margin: 0 auto 15px;

        &::before {
            content: "Entrar";
            font-size: 18px;
            display: block;
            color: #1a1a1a;
            font-weight: 500;
            font-style: normal;
            letter-spacing: 0.9px;
            text-align: center;
            text-transform: lowercase;
        }
    }

    .optionsList {
        margin: 0;

        .optionsListItem {
            margin-bottom: 15px;
        }

        &::before {
            content: "use uma das opções para fazer login";
            color: #4d4d4d;
            font-family: 'Inter', sans-serif;
            font-size: 13px;
            font-weight: 300;
            font-style: normal;
            letter-spacing: 0.65px;
            line-height: 1;
            display: block;
            text-align: center;
            margin-bottom: 30px;
        }

        .emailPasswordOptionBtn {
            position: relative;
            background: #e5e0d2;

            :global(.vtex-button__label) {
                &::before {
                    content: "";
                    width: 16px;
                    height: 20px;
                    background: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" width="14.347" height="16" viewBox="0 0 14.347 16"><g id="icon-password" transform="translate(0 0)"><path id="Caminho_2025" data-name="Caminho 2025" d="M25.436,25.016a1.331,1.331,0,0,0-.383-.821l-2.327-2.327a.746.746,0,0,0-1.03,0,.728.728,0,0,0,0,1.03l1.524,1.524h-8.47a.729.729,0,1,0,0,1.458h8.47L21.695,27.4a.729.729,0,1,0,1.03,1.03l2.327-2.327a1.331,1.331,0,0,0,.383-.821.725.725,0,0,0,0-.27" transform="translate(-11.102 -17.151)" fill="%234d4d4d"/><path id="Caminho_2026" data-name="Caminho 2026" d="M4.493,14.542H2.543a1.087,1.087,0,0,1-1.086-1.086V2.543A1.087,1.087,0,0,1,2.543,1.458h1.95A.729.729,0,0,0,4.493,0H2.543A2.546,2.546,0,0,0,0,2.543V13.457A2.546,2.546,0,0,0,2.543,16h1.95a.729.729,0,0,0,0-1.458" transform="translate(0 0)" fill="%234d4d4d"/></g></svg>') no-repeat;
                    display: block;
                    position: absolute;
                    left: 17px;
                    top: 10px;
                    z-index: 10;
                    background-size: contain;
                }
            }
        }

        .accessCodeOptionBtn {
            position: relative;
            background: #e5e0d2;

            :global(.vtex-button__label) {
                &::before {
                    content: "";
                    width: 20px;
                    height: 20px;
                    background: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" width="20.493" height="16" viewBox="0 0 20.493 16"><path id="icon-mail" d="M18.9,0H1.594A1.6,1.6,0,0,0,0,1.594V14.406A1.6,1.6,0,0,0,1.594,16H18.9a1.6,1.6,0,0,0,1.594-1.594V1.594A1.6,1.6,0,0,0,18.9,0M11.123,7.231a1.337,1.337,0,0,1-1.758,0L2.619,1.411H17.884Zm7.959-4.989V14.406a.184.184,0,0,1-.183.183H1.594a.184.184,0,0,1-.183-.183V2.233L8.443,8.293a2.738,2.738,0,0,0,3.6.007Z" fill="%234d4d4d"/></svg>') no-repeat;
                    display: block;
                    position: absolute;
                    left: 15px;
                    top: 12px;
                    z-index: 10;
                    background-size: contain;
                }
            }
        }

        .button {

            :global(.vtex-button__label),
            :global(.vtex-button) {
                padding: 0 !important;
                margin: 0;
                background: transparent;
                border: 0;
                min-height: unset;
            }

            :global(.vtex-button__label) {
                @extend %btn;
                padding-left: 20px;
            }
        }
    }

    .inputContainer {
        :global(.vtex-input-prefix__group) {
            height: unset;
            border: 0;
            border-radius: 0;
        }

        :global(.vtex-styleguide-9-x-input) {
            @extend %input;
        }
    }

    .inputContainerPassword {
        padding: 0;
        margin: 20px 0;

        :global(.vtex-input__suffix) {
            display: none;
        }
    }

    .formFooter {
        border: 0;
        padding: 0;
        margin-top: 30px;

        .sendButton {

            :global(.vtex-button__label),
            :global(.vtex-button) {
                padding: 0 !important;
                margin: 0;
                background: transparent;
                border: 0;
                min-height: unset;
            }

            :global(.vtex-button__label) {


                :nth-child(n+1) {
                    font-size: 0;
                }

                &::before {
                    content: "confirmar";
                    @extend %link;
                    text-transform: lowercase;
                    font-weight: 600;
                }
            }
        }

        .backButton {

            :global(.vtex-button__label),
            :global(.vtex-button) {
                padding: 0 !important;
                margin: 0;
                background: transparent;
                border: 0;
                min-height: unset;
            }

            :global(.vtex-button__label) {


                :nth-child(n+1) {
                    font-size: 0;
                    display: none;
                }

                &::before {
                    content: "voltar";
                    @extend %link;
                    text-transform: lowercase;
                    font-weight: 600;
                    color: #999;
                }
            }
        }
    }
}