.mainMenu_mobileHamburguer {
    padding: 0;
    margin: 0;
    margin-right: 20px;
    background: transparent;
    border: 0;
    outline: none;
    width: 23px;
    height: 16px;
}

.blur {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    background-color: #ffffff;
    opacity: 0.8;
    height: 100%;
    z-index: 10;
    display: block;
    visibility: hidden;
    opacity: 0;
    transition: 0.3s;

    &--active {
        visibility: visible;
        opacity: .6;
    }
}

.mainMenu_mobileHeader {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid #e5e0d2;
    padding: 15px;
    margin-bottom: 15px;

    .mainMenu_mobileItem {
        padding: 0;
        margin: 0;
        background: transparent;
        border: 0;
    }
}

.mainMenu {
    position: relative;

    @media all and (max-width: 1024px) {
        position: fixed;
        left: 0;
        top: 0;
        width: 320px;
        background: #fff;
        height: 100%;
        z-index: 20;
        visibility: hidden;
        opacity: 0;
        transition: 0.3s;

        &--active {
            visibility: visible;
            opacity: 1;
        }
    }

    .mainMenuContainer {
        @extend %maxcontainer;
        display: flex;
        list-style: none;
        justify-content: center;
        padding: 0;

        @media all and (max-width: 1024px) {
            display: block;
            padding: 0px 15px;
            width: 100%;
        }
    }

    .imageMenuContainer {
        @media (max-height: 730px) {
            max-width: 400px;
        }
    }

    .mainMenuItem {
        padding-bottom: 20px;
        margin: 0px 30px;

        @media all and (max-width: 1024px) {
            margin: 0 auto;
            padding: 0;
            color: #242424;
            font-size: 13px;
            font-weight: 400;
            font-style: normal;
            letter-spacing: 0.65px;
        }

        &:hover {
            .subMenu {
                opacity: 1;
                visibility: visible;
            }
        }

        .mainMenuItemLink {
            color: #242424;
            font-size: 13px;
            font-weight: 600;
            font-style: normal;
            letter-spacing: 0.65px;
            text-decoration: none;
            padding: 0;
            margin: 0;
            background: transparent;
            border: 0;
            width: 100%;

            @media (min-width:1024px) {
                &:hover {
                    color: #e6964b;
                    text-decoration: underline;
                }
            }

            @media all and (max-width: 1024px) {
                display: flex;
                align-items: center;
                justify-content: space-between;
                padding: 15px 0;

                &--active {
                    color: #e6964b;

                    :global(.vtex-menu-path) {
                        fill: #e6964b !important;
                    }

                    :global(.vtex-menu-icon) {
                        transform: rotateZ(180deg);
                    }
                }
            }
        }

        // &:last-child .mainMenuItemLink {
        //     color: #e64b4b !important;
        //     font-weight: 600;
        // }
    }

    .subMenu {
        @media all and (min-width: 1025px) {
            position: absolute;
            left: 0;
            top: 100%;
            background: #fff;
            width: 100%;
            padding: 40px 0;
            visibility: hidden;
            opacity: 0;
            transition: 0.3s;
        }

        @media all and (max-width: 1024px) {
            padding: 0px 15px;
            max-height: 0px;
            transition: 0.3s;
            overflow: hidden;

            &--active {
                max-height: 1000px;
            }
        }

        .subMenuContainer {
            list-style: none;
            padding: 0;
            display: flex;
            justify-content: center;

            @media all and (max-width: 1024px) {
                display: block;
            }
        }

        .subMenuContainerLinks {
            margin-right: 100px;
        }

        .imageMenuName {
            display: none;
        }

        .subMenuItemLink,
        .seeAll {
            color: #999999;
            font-size: 13px;
            font-weight: 400;
            font-style: normal;
            letter-spacing: 0.65px;
            line-height: 32px;
            display: block;
            text-decoration: none;

            @media all and (max-width: 1024px) {
                font-weight: 500;
                color: #888888;
            }
        }

        .seeAll {
            text-decoration: underline;
        }
    }
}