.container {
    &--institucional-default__title {
        width: 100%;

        .wrapper {
            width: 100%;
        }

        .headingLevel1 {
            color: #282828;
            font-size: 28px;
            font-weight: 500;
            font-style: normal;
            letter-spacing: 1.4px;
            display: block;
            line-height: 1;
            margin: 0;
            padding-bottom: 30px;
            margin-bottom: 30px;
            border-bottom: 1px solid #ddd;
            display: block;
            width: 100%;
            text-transform: uppercase;

            @media all and (max-width: 1024px) {
                border-bottom: 0;
                padding-bottom: 0;
            }
        }

    }

    &--institucional-default__text {
        .headingLevel2 {
            color: #282828;
            font-size: 18px;
            font-weight: 500;
            font-style: normal;
            letter-spacing: 0.9px;
            display: block;
            margin: 0 0 15px;
            text-transform: uppercase;
        }

        .headingLevel3 {
            color: #1a1a1a;
            font-size: 13px;
            font-weight: 500;
            font-style: normal;
            letter-spacing: 0.65px;
            line-height: 1;
            margin: 0 auto 4px;
        }

        .list {
            list-style: none;

            .listItem {
                color: #969494;
                font-size: 13px;
                font-weight: 400;
                font-style: normal;
                letter-spacing: 0.65px;
                line-height: 19px;
                display: block;
                margin-bottom: 20px;

                &::before {
                    content: "- ";
                }
            }
        }

        .strong {
            font-weight: 500;
            color: #969494;
        }

        .paragraph {
            color: #969494;
            font-family: "Encode Sans";
            font-size: 14px;
            font-style: normal;
            font-weight: 400;
            line-height: 21.5px;
            letter-spacing: 0.28px;
            margin: 0;
        }

        .link {
            color: #969494;
            font-weight: 500;
            font-size: 14px;
            font-style: normal;
            letter-spacing: 0.65px;
            line-height: 19px;
        }
    }

    &--institucional-default__menu-triggertext {
        .paragraph {
            color: #999999;
            font-family: 'Inter', sans-serif;
            font-size: 13px;
            font-weight: 400;
            font-style: normal;
            letter-spacing: 0.65px;
        }
    }
}