.list {
    &--wishlist__products {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        list-style: none;
        margin: 0;
        padding: 0;
        grid-gap: 20px;

        :global(.vtex-product-summary-2-x-container--shelf) {
            padding: 0;
        }
    }

    &--wishlist__products--account {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        list-style: none;
        margin: 0;
        padding: 0;
        grid-gap: 10px;

        @media (max-width: 991px) {
            grid-template-columns: 1fr 1fr;
        }

        :global(.vtex-product-summary-2-x-container--shelf) {
            padding: 0;
        }
    }
}