:global(.vtex-toast-container) {
  background-color: #e5e0d2;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) !important;
  margin: 0;
  max-width: 358px;
  width: calc(100% - 30px);
  bottom: unset;
}
:global(.vtex-toast-container) :global(.vtex-toast) {
  border-radius: 0;
  box-shadow: none;
  background-color: unset;
}
:global(.vtex-toast-container) :global(.lh-copy) {
  color: #4d4d4d;
  font-size: 14px;
  line-height: 20px;
}
:global(.vtex-toast-container) :global(.vtex-button__label) {
  white-space: nowrap;
  background: #e6964b;
  font-weight: 400;
  font-family: "Inter";
  padding: 10px !important;
  text-transform: lowercase;
}
:global(.vtex-toast-container) :global(.vtex__icon-close) {
  width: 18px;
  height: 18px;
  filter: brightness(0.3);
}

:global(.vtex-flex-layout-0-x-flexRowContent--header__content) :global(.items-stretch):nth-child(2) {
  flex: 1;
  display: block;
}
:global(.vtex-flex-layout-0-x-flexRowContent--header__content) :global(.items-stretch):nth-child(5) {
  width: 100% !important;
  display: block;
}

:global(.vtex-store-components-3-x-portalWrapper--header__search) :global(.absolute),
:global(.vtex-store-components-3-x-portalWrapper--header__search) :global(.flex.justify-end) {
  position: unset !important;
  left: unset !important;
  top: unset !important;
  display: block;
}