%label {
    color: #000;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

%flex {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.minicart__shipping {
    padding: 10px 0 0;

    &__label {
        display: block;
        margin: 0 0 8px;
        color: #000;
        font-family: "Encode Sans";
        font-size: 11px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
    }

    &__box {
        height: 10px;
        background: #E8E8E8;
        position: relative;
        display: block;
        width: 100%;
        margin: 0 0 8px
    }

    &__background {
        position: absolute;
        top: 0;
        left: 0;
        width: 50%;
        z-index: 1;
        background: #ACACAC;
        height: 100%;
    }

    &__small {
        display: block;
        margin: 0 0 15px;
        color: #BDBCBC;
        font-family: "Encode Sans";
        font-size: 11px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
    }
}

.CommonForm {
    @extend %flex;
    margin-bottom: 15px;

    .CommonForm_label {
        @extend %label;
    }

    .CommonForm_inputContainer {
        @extend %flex;
        flex-wrap: wrap;
        width: auto;
    }

    .CommonForm_input {
        width: 150px;
        height: 30px;
        border: 1px solid #BDBCBC;
        color: #BDBCBC;
        font-size: 12px;
        font-weight: 400;
        font-style: normal;
        letter-spacing: 0.55px;
        outline: none;
        padding: 0px 10px;
        box-sizing: border-box;

        @media all and (max-width: 1024px) {
            width: 95px;
        }
    }

    .CommonForm_button {
        width: 35px;
        height: 30px;
        background: transparent;
        border: 1px solid #BDBCBC;
        border-left: 0;
        color: #000;
        font-size: 12px;
        font-weight: 400;
        font-style: normal;
        letter-spacing: 0.55px;
        line-height: 25px;
        display: block;
        cursor: pointer;
    }

    .CommonForm_buttonRemove {
        color: #1a1a1a;
        padding: 0;
        margin: 0;
        border: 0;
        line-height: 1;
        background: transparent;
        filter: brightness(0);
        cursor: pointer;
    }

    .CommonForm_Success {
        width: 200px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        border-bottom: 1px solid #1a1a1a;
        padding-bottom: 7px;
        min-height: 30px;
    }

    .CommonForm_SuccessText {
        color: #1a1a1a;
        font-family: 'Inter', sans-serif;
        font-size: 11px;
        font-weight: 500;
        font-style: normal;
        letter-spacing: 0.55px;
        line-height: 1;
    }

    .CommonForm_errorMessage {
        width: 100%;
        margin-top: 7px;
        color: #ce0c0c;
        font-size: 11px
    }
}

.minicartFooter_totalizer_subtotalwrapper {
    @extend %flex;
    margin-bottom: 15px;

    .minicartFooter_totalizer_label {
        @extend %label;
        color: #888
    }

    .minicartFooter_totalizer_value {
        @extend %label;
        text-transform: uppercase;
        color: #888
    }
}

.minicartFooter_totalizer_totalwrapper {
    @extend %flex;
    margin-top: 15px;

    .minicartFooter_totalizer_label {
        @extend %label;
        color: #000;
    }

    .minicartFooter_totalizer_value {
        @extend %label;
        color: #000;
        text-transform: uppercase;
    }
}

.minicartFooter_finish {
    display: block;
    margin-top: 15px;
    height: 40px;
    background-color: #000;
    width: 100%;
    color: #ffffff;
    font-size: 14px;
    font-weight: 300;
    font-style: normal;
    line-height: 40px;
    text-align: center;
    margin-bottom: 10px;
    letter-spacing: 1.4px;
    border: 0;
    text-transform: uppercase;
    padding: 0;
    text-decoration: none;
    font-family: "Encode Sans Condensed";
}

.minicartFooter_keepBuying {
    font-family: "Encode Sans Condensed";
    text-align: center;
    display: block;
    color: #000;
    font-size: 14px;
    font-weight: 300;
    font-style: normal;
    letter-spacing: 1.4px;
    line-height: 1;
    margin: 0 auto;
    background: transparent;
    border: 0;
    text-decoration: none;
    cursor: pointer;
}