.container {
    &--header__minicart--title {
        .paragraph {
            color: #000;
            font-family: "Encode Sans";
            font-size: 11px;
            font-style: normal;
            font-weight: 400;
            line-height: normal;
            letter-spacing: 1.1px;
        }
    }
}