.productImageContainer {
    width: auto !important;

    &--header__minicart--image {
        .productImage {
            display: block;
            border-radius: 0;
            width: 80px;
            aspect-ratio: 2 / 3;
            object-fit: cover;
        }

        .productImageAnchor {
            display: block;
            margin-right: 30px;
        }
    }
}

.productPriceCurrency {
    color: #CACACA;
    font-family: "Encode Sans Condensed";
    font-size: 10px;
    font-style: normal;
    font-weight: 300;
    line-height: 20px;
    letter-spacing: 1.2px;
    text-decoration: line-through;
    margin: 0;
    margin-right: 10px;
}

.productVariationsItem {
    color: #000;
    font-family: "Encode Sans Condensed";
    font-size: 10px;
    font-style: normal;
    font-weight: 300;
    line-height: 20px;
    letter-spacing: 1.2px;
    display: block;
    margin: 0 0 5px;
}

.productName {
    &--header__minicart--name {
        color: #000;
        font-family: "Encode Sans Condensed";
        font-size: 10px;
        font-style: normal;
        font-weight: 500;
        line-height: 120%;
        letter-spacing: 1px;
        text-transform: uppercase;
        display: block;
        margin-bottom: 10px;
    }
}

.removeButtonContainer {
    &--header__minicart--remove {
        margin-left: 25px;

        .deleteIcon {
            display: none;
        }

        .removeButton {
            padding: 0;

            &::before {
                content: "";
                background: url(//assets/icons/icon-close.png) no-repeat;
                width: 11px;
                height: 11px;
                background-size: contain;
                display: block;
            }
        }
    }
}

.productPriceContainer {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    margin-bottom: 5px;
}

.productPrice {
    &--header__minicart--price {
        .price {
            color: #000;
            font-family: "Encode Sans Condensed";
            font-size: 10px;
            font-style: normal;
            font-weight: 300;
            line-height: 20px;
            letter-spacing: 1.2px;
        }
    }
}

.quantitySelectorContainer {
    &--header__minicart--quantity {
        width: 70px;
        height: 25px;
        border: 1px solid #DBDBDB;
        display: block;

        .quantitySelectorWrapper {
            align-items: center;
            height: 100%;
        }

        .quantitySelectorButton {
            padding: 0;
            background: none;
            border: 0;
            height: 100%;
            color: #000;
            font-size: 11px;
            font-weight: 300;

            &::before {
                content: "";
                display: block;
                width: 20px;
                height: 100%;
                line-height: 25px;
                text-align: center;
            }

            :nth-child(n+1) {
                display: none;
            }
        }

        .quantitySelectorIncrease {
            &::before {
                content: "+";
            }
        }

        .quantitySelectorDecrease {
            &::before {
                content: "-";
                line-height: 20px;
                font-size: 15px;
            }
        }

        .inputContainer {
            padding: 0;
            width: auto;
            flex: 1;
            height: 100%;
            border: 0;

            :nth-child(n+1) {
                height: 100%;
                padding: 0;
                display: block;
                color: #000;
                font-size: 11px;
            }
        }
    }
}