.flexRow {
    &--header__minicart--header {
        padding: 20px 20px 0;
        // @media all and (max-width: 1024px) {
        //     padding: 15px;
        //     margin-bottom: 15px;
        // }

        .flexRowContent {
            display: block;
        }
    }

    &--header__minicart--item {
        margin-bottom: 35px;

        @media all and (max-width: 1024px) {
            margin: 0;
        }

        .flexRowContent {
            display: flex;
            align-items: center;
        }

        .stretchChildrenWidth {
            &:nth-child(n+2):not(:nth-child(n+3)) {
                flex: 1;
            }
        }
    }

    &--header__minicart--footer {
        border-top: 1px solid #E1E1E1;
        padding: 10px;

        @media (min-width: 1025px) {
            box-sizing: border-box;
            padding: 20px;
        }

        .flexRowContent {
            display: block;
        }
    }
}

.flexCol {
    &--header__minicart--item__info {
        //padding: 20px 0;
    }
}