%btn {
    background: #e6964b;
    height: 35px;
    line-height: 35px;
    text-transform: lowercase;
    color: #fff;
    font-family: 'Inter', sans-serif;
    font-size: 13px;
    font-weight: 400;
    font-style: normal;
    letter-spacing: .65px;
    line-height: 35px;
    padding: 0;
    border-radius: 0;
    box-shadow: none;
    border: 1px solid #e6964b;
}

%link {
    text-decoration: underline;
    display: block;
    color: #e6964b;
    font-family: 'Inter', sans-serif;
    font-size: 13px;
    font-weight: 600;
    font-style: normal;
    letter-spacing: .65px;
    line-height: 1;
    text-transform: lowercase;
}

%label {
    margin-bottom: 10px;
    display: block;
    color: #1a1a1a;
    font-family: 'Inter', sans-serif;
    font-size: 13px;
    font-weight: 600;
    font-style: normal;
    letter-spacing: 0.65px;
    text-transform: lowercase;
}

%input {
    height: auto;
    border: 0;
    border: 1px solid #999;
    width: 100%;
    background: #fff !important;
    box-sizing: border-box;
    border-radius: 0;
    padding: 0;
    box-shadow: none !important;
    max-width: unset;
    color: #1a1a1a;
    font-family: 'Inter', sans-serif;
    font-size: 13px;
    font-weight: 600;
    font-style: normal;
    letter-spacing: .65px;
    padding-top: 4px;
    padding-bottom: 4px;
    padding-left: 10px;

    &.success {
        border-bottom: 1px solid #000;
        background: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" width="18" height="18" viewBox="0 0 18 18"><g><g><g><path fill="%23e6964b" d="M0 9a9 9 0 1 1 18 0A9 9 0 0 1 0 9z"/></g><g><path fill="%23fff" d="M13.71 6.285a.997.997 0 0 0-.702-.286.996.996 0 0 0-.701.286l-4.643 4.642-1.97-1.97a.996.996 0 0 0-.702-.286.985.985 0 0 0-.992.987c0 .265.103.514.29.701l2.673 2.672c.187.188.436.291.701.291a.984.984 0 0 0 .702-.29l5.344-5.344a.986.986 0 0 0 .29-.702.985.985 0 0 0-.29-.701"/></g></g></g></svg>') no-repeat !important;
        background-position: 97% 45% !important;
        background-size: 15px !important;
        background-color: #fff !important;
    }
}

%defaults {
    border: 1px solid #faf8f2;
    background: #faf8f2;
    padding: 20px;

    .accordion-inner {
        padding: 0;
    }

    .link-box-edit {
        background: transparent;
        box-shadow: none;
        border: 0;

        .icon-edit {
            display: block !important;
            color: #000;
        }

        i {
            color: #000;
        }
    }

    .accordion-heading {
        .accordion-toggle {
            padding: 0;
        }

        span {
            text-transform: lowercase;
            color: #1a1a1a;
            font-family: 'Inter', sans-serif;
            font-size: 18px;
            font-weight: 600;
            font-style: normal;
            letter-spacing: 0.9px;
            line-height: 1;
            display: block;
            margin: 0;
            margin-bottom: 13px;

            span {
                margin-left: 0;
            }

            i {
                display: none;
            }
        }
    }

    .step {
        border: none;
        padding: 0;
        margin: 0;
        background: transparent;
    }
}

.step-confirmation,
.step-payment,
.step-profile {
    #orderform-title {
        text-align: center;
    }
}

// #client-profile-data,
// #shipping-data,
// #payment-data,
// .cart-fixed {
//     .accordion-group {
//         display: none;
//     }
// }

// .step-confirmation,
// .step-payment,
// .step-profile,
// .step-shipping {

//     #client-profile-data,
//     #shipping-data,
//     #payment-data {
//         .accordion-group {
//             display: block;
//         }
//     }

//     .cart-fixed {
//         display: block;
//     }
// }

div#client-profile-data {
    @extend %defaults;

    @media all and (max-width: 991px) {
        width: 100%;
        margin-bottom: 30px;
        padding: 10px;
    }

    span.error {
        font-size: 11px;
    }

    .client-notice {
        display: block;
        margin: 0 0 30px;
        color: #4d4d4d;
        font-family: 'Inter', sans-serif;
        font-size: 13px;
        font-weight: 400;
        font-style: normal;
        letter-spacing: 0.65px;
        line-height: 18px;
    }

    .form-step.box-info,
    .notification {
        line-height: 13px;
        color: #000;
        font-weight: 400;

        a {
            color: #000;
            text-decoration: underline;
        }
    }

    .box-client-info {

        &-pf,
        &-pj {
            @media all and (max-width: 767px) {
                width: 100%;
            }
        }

        &-pj {
            ul.links.unstyled {
                margin: 0;
            }
        }

        [data-bind="fadeVisible: emailSuggestionDomain, click: acceptSuggestion"] {
            font-size: 13px;
            display: block;
            margin-top: -10px;
            margin-bottom: 20px;

            a {
                color: #000;
                font-size: 13px;
            }
        }

        label {
            @extend %label;
        }

        p.input,
        p.text {
            margin-bottom: 30px;
        }

        p.text {
            span {
                font-weight: 300;
            }
        }

        p.input {
            input {
                @extend %input;
            }
        }

        p.client-phone {
            margin-bottom: 30px;

            &+p.client-phone {
                display: none;
            }
        }

        p.client-first-name,
        p.client-last-name,
        p.client-document,
        p.client-phone {
            width: 100%;

            @media all and (max-width: 767px) {
                max-width: unset;
            }
        }

        p.client-company-ie,
        p.client-company-document {
            width: 100%;
        }

        a#is-corporate-client,
        a#not-corporate-client {
            text-decoration: underline;
            display: block;
            margin-bottom: 20px;
            color: #e6964b;
            font-family: 'Inter', sans-serif;
            font-size: 13px;
            font-weight: 600;
            font-style: normal;
            letter-spacing: 0.65px;
            line-height: 1;
            text-transform: lowercase;
        }

        .checkbox.newsletter-label {
            display: flex;
            align-items: center;
            margin-bottom: 20px;
            min-height: unset;
            padding: 0;

            .newsletter {
                margin: 0;
            }

            .newsletter-text {
                color: #4d4d4d;
                font-family: 'Inter', sans-serif;
                font-size: 13px;
                font-weight: 400;
                font-style: normal;
                letter-spacing: 0.65px;
                line-height: 1;
            }
        }

        .checkbox.exempt-si-label {
            padding: 0;

            span {
                @extend %label;
                display: inline;
                font-weight: 100;
                color: #4d4d4d;
            }

            input {
                margin: 0 10px 0 0;
                margin-right: 2px;
                float: unset;
                width: 15px;
                height: 15px;
                border: 1px solid #999;
                border-radius: 100%;
                margin: 0;
                appearance: none;
            }

        }

        #opt-in-newsletter {
            float: unset;
            width: 15px;
            height: 15px;
            border: 1px solid #999;
            border-radius: 100%;
            margin: 0;
            margin-right: 6px;
            display: block;
            appearance: none;
        }
    }

    button#go-to-shipping,
    button#go-to-payment {
        @extend %btn;
        width: 100%;
    }
}

div#shipping-data {
    @extend %defaults;
    margin-bottom: 20px;

    @media all and (max-width: 991px) {
        width: 100%;
        padding: 10px;
    }

    .vtex-omnishipping-1-x-SummaryItemInfo {
        border-right: 1px solid #000000;
    }

    .address-summary,
    .vtex-omnishipping-1-x-summaryPackage.shp-summary-package,
    .shp-summary-group-price.vtex-omnishipping-1-x-SummaryItemPrice,
    .notification {
        @extend %label;

        a {
            color: #000;
            text-decoration: underline;
        }
    }


    p.ship-postalCode {
        margin-top: 20px;
        padding-left: 10px;

        label {
            @extend %label;
        }

        input {
            @extend %input;
        }

        small {
            margin: 0;
            margin-bottom: 20px;
            display: block;

            a {
                color: #000;
                font-size: 10px;
                font-weight: 400;
                text-decoration: none;
                display: block;
                margin-top: 3px;
            }
        }
    }

    .vtex-omnishipping-1-x-deliveryGroup {
        margin: 0;
        margin-bottom: 20px;
    }

    p.vtex-omnishipping-1-x-shippingSectionTitle,
    p.vtex-omnishipping-1-x-shippingSectionTitle.delivery-address-title {
        @extend %label;
    }

    a#open-shipping,
    button#back-to-address-list,
    button#edit-address-button,
    button#new-address-button {
        @extend %link;
    }

    a#open-shipping {
        border: 1px solid #e6964b;
        border-radius: 0;
        height: 35px;
        line-height: 35px;
        padding: 0;
        text-decoration: none;
    }

    .vtex-omnishipping-1-x-leanShippingGroupList {
        border: none;
        border-radius: 0;
        overflow: visible;
    }

    .vtex-omnishipping-1-x-addressItemOption {
        border: 1px solid #9e9e9e;
        border-radius: 0;
        padding: 20px;
        margin-bottom: 30px;
        background: none !important;

        svg * {
            fill: #000;
        }

        .address-summary {
            span {
                color: #000;
                font-size: 16px;
                font-weight: 400;
            }
        }
    }

    .vtex-omnishipping-1-x-addressSummary.vtex-omnishipping-1-x-addressSummaryActive {
        border-radius: 0;

        .address-summary {
            border: 1px solid #999;
            border-radius: 0;
            border-radius: 0;
            padding: 15px;
            margin-bottom: 20px;
            background: none !important;

            span {
                color: #000;
                font-size: 13px;
                font-weight: 400;
            }
        }
    }

    div#delivery-packages-options label {
        background: transparent;
        border: 1px solid #999;
        box-shadow: none !important;
        margin-bottom: 5px;
        padding: 15px;
        border-radius: 0;

        .vtex-omnishipping-1-x-leanShippingText {
            border-right: 1px solid #e8e9ea;
        }

        .vtex-omnishipping-1-x-svg * {
            fill: #000;
        }

        .vtex-omnishipping-1-x-optionPrice {
            padding-left: 10px;
            padding-right: 10px;
            color: #000;
            font-size: 13px;
            font-weight: 400;
        }

        .shp-option-text-label.vtex-omnishipping-1-x-leanShippingTextLabel,
        .shp-option-text-package span {
            font-weight: 600;
            font-size: 13px;
            color: #000;
        }
    }

    .vtex-omnishipping-1-x-address {
        p.input {
            margin-bottom: 20px;

            @media all and (max-width: 767px) {
                width: 100%;
            }
        }

        label {
            @extend %label;
            font-size: 12px
        }

        input,
        select {
            @extend %input;
        }


        .ship-number {
            width: calc(50% - 10px);
            margin-bottom: 20px;
            margin-right: 20px;

            @media all and (max-width: 767px) {
                width: 100%;
            }
        }

        .ship-complement {
            float: right;
            width: calc(50% - 10px);

            @media all and (max-width: 767px) {
                width: 100%;
            }
        }

        .ship-receiverName {
            width: 100%;
            clear: both;
        }
    }

    button#btn-go-to-payment {
        @extend %btn;
        width: 100%;

        @media all and (max-width: 767px) {
            font-size: 14px;
        }
    }
}

div#payment-data {
    @extend %defaults;

    @media all and (max-width: 991px) {
        width: 100%;
        margin-bottom: 30px;
        padding: 10px;
    }

    #show-gift-card-group {

        font-size: 0;

        &::before {
            content: 'adicionar vale-troca';
            @extend %link;

        }
    }

    .payment-group-list-btn {
        width: 210px;
    }

    .gift-card-section {
        padding: 10px 15px 10px 20px;
        margin: 0;
        float: right;
        width: calc(100% - 235px);
        background: transparent;
        box-sizing: border-box;
        border: 1px solid #eae4da;
        border-radius: 0;

        @media (max-width: 991px) {
            width: 100%;
            margin: 0 auto 15px;
        }

        .gift-card-provider-options,
        .payment-discounts-options {
            width: 100%;
            display: flex;
            flex-wrap: wrap;
            margin: 0 auto 15px;
        }

        button {
            @extend %btn;
            padding: 0px 20px;
            box-sizing: border-box;
            max-width: 150px;
            width: 150px;
        }

        input,
        select {
            @extend %input;
            width: calc(100% - 165px);
            margin-right: 15px
        }

        label {
            @extend %label;
            width: 100%;
        }
    }

    .payment-group {
        display: block;
        background: transparent;
    }

    .payment-group-item {
        @extend %btn;
        width: 210px;
        margin: 0px 0px 10px;
        background: transparent;
        color: #e6964b;
        display: flex;
        align-items: center;

        @media all and (max-width: 767px) {
            font-size: 14px;
            width: 100% !important;
        }

        &.active {
            background: #e6964b;
            color: #fff;
        }

        span {
            background: none !important;
            padding: 0;
            text-align: center;
            width: 100%;
        }

        &:last-child {
            border-radius: 0;
        }
    }

    p.payment-description,
    p.sight {
        font-size: 13px;
        color: #000;
    }

    .steps-view {
        width: calc(100% - 230px);
        box-sizing: border-box;
        background: transparent;
        margin-top: 20px;

        @media all and (max-width: 767px) {
            width: 100% !important;
            padding: 0;
        }
    }
}

.cart-fixed {
    width: 100%;
    border: none;
    padding: 0px;
    box-sizing: border-box;
    position: relative !important;
    height: auto !important;

    .collapse.in {
        width: 100%;
    }

    .payment-confirmation-wrap {
        border: none !important;
    }

    .summary-cart-template-holder {
        height: auto !important;
    }

    &>h2 {
        text-transform: lowercase;
        color: #1a1a1a;
        font-family: 'Inter', sans-serif;
        font-size: 18px;
        font-weight: 600;
        font-style: normal;
        letter-spacing: .9px;
        line-height: 1;
        display: block;
        margin: 0;
        margin-bottom: 13px;

        @media all and (max-width: 767px) {
            margin-bottom: 5px;
        }
    }

    .cart {
        //border-top: 1px solid #000000;
        padding: 0;
        border-radius: 0;
        margin-bottom: 30px;
        overflow: hidden;
        overflow-y: auto;
        max-height: 330px;

        &::-webkit-scrollbar {
            width: 3px;
        }

        &::-webkit-scrollbar-track {
            background: #e5e0d2;
        }

        &::-webkit-scrollbar-thumb {
            background: #4d4d4d;
        }

        &::-webkit-scrollbar-thumb:hover {
            background: #4d4d4d;
        }

        li {
            margin: 0;
            padding: 15px 0;
            border: 0;
            float: unset;
            padding-right: 20px;
            box-sizing: border-box;

            .product-name {
                width: calc(100% - 100px);
                color: #000;
                font-size: 12px;
                font-weight: 400;
                white-space: normal;
                margin-bottom: 10px;
                text-align: left;
            }

            img {
                width: 69px;
                height: 100px;
                margin-right: 20px;
                object-fit: cover;
            }

            span.quantity.badge {
                display: none;
            }

            .price {
                color: #000;
                font-size: 12px;
                font-weight: 700;
                float: unset;
                text-align: left;
            }

            .shipping-date {
                display: none;
            }
        }
    }

    .summary-template-holder {
        background: #fff;
        margin: 0;
        padding: 0;
        border: none;
    }

    p#go-to-cart-button {
        margin: 0 auto 30px;
        display: block;
        width: 100%;
    }

    a#orderform-minicart-to-cart {
        font-size: 0;

        &::before {
            content: "escolher mais produtos";
            @extend %link;
            text-align: center;
        }
    }

    button#payment-data-submit {
        @extend %btn;

        @media all and (max-width: 767px) {
            padding: 0;
        }

        i {
            display: none;
        }
    }

    table {
        display: block;
        padding: 15px;
        border: 0;
        width: 100%;
        background: #faf8f2;
    }

    tbody,
    tfoot {
        width: 100%;
        display: block;
    }

    td {
        padding: 7px 0 !important;
        display: flex;
        color: #000 !important;
        font-size: 13px;
        font-weight: 400 !important;
    }

    td.monetary {
        justify-content: flex-end;
    }

    td.empty {
        display: none !important;
    }

    tr {
        display: flex;
        width: 100%;
        justify-content: space-between;
    }

    tfoot {
        td {
            font-weight: 700 !important;
        }
    }
}

#app-container {
    background: #faf8f2 !important;

    .PaymentCardDueDate p.payment-card-lash {
        opacity: 0;
    }

    .PaymentCardCVV {
        input {
            text-align: left;
        }

        label {
            font-size: 0;

            &::before {
                content: 'Código de segurança (CVV)';
                font-size: 12px;
                font-weight: 600;
                color: #000;
            }
        }
    }

    // input[type="text"]{}


    .FormFieldLabel {
        @extend %label;
        margin-bottom: 10px;
        float: unset;
        width: 100%;
    }

    span.SecurityEnvironmentIcon {
        display: none
    }

    input#creditCardpayment-card-0Number,
    select#creditCardpayment-card-0Brand,
    input#creditCardpayment-card-0Name,
    input#creditCardpayment-card-1Number,
    input#creditCardpayment-card-1Name,
    select#creditCardpayment-card-1Brand {
        @extend %input;
        border: 1px solid #999;
        max-width: 400px;
        margin-bottom: 20px;
        box-shadow: none !important;
    }

    select#creditCardpayment-card-0Brand,
    .ChangeNumberOfPayments {
        text-transform: lowercase;
    }

    select#creditCardpayment-card-0Month,
    select#creditCardpayment-card-0Year,
    input#creditCardpayment-card-0Code,
    select#creditCardpayment-card-1Month,
    select#creditCardpayment-card-1Year,
    input#creditCardpayment-card-1Code {
        @extend %input;
        border: 1px solid #999;
        max-width: 400px;
        margin-bottom: 20px;
        box-shadow: none !important;
        padding-left: 0;
    }

    input#creditCardpayment-card-0Code,
    input#creditCardpayment-card-1Code {
        padding-left: 10px;
    }

    p.ChangeNumberOfPayments.clearfix {
        a {
            text-decoration: underline;
            color: #e6964b;
            font-family: "Inter", sans-serif;
            font-size: 12px;
            font-weight: 600;
            font-style: normal;
            letter-spacing: .65px;
            line-height: 1;
            text-transform: lowercase;
            margin-top: 5px;
            display: block;
        }
    }

    input[type=checkbox]:checked,
    input[type=radio]:checked {
        background: #2a2a2a;
    }

    input[type=checkbox],
    input[type=radio] {
        -webkit-appearance: none;
        position: relative;
        display: inline-block;
        vertical-align: middle;
        width: 16px;
        height: 16px;
        border: 4px solid #f0f0f0;
        background: #fff;
        margin: 0 0 5px;
        cursor: pointer;
        outline: 0;
        -webkit-transition: all .2s linear;
        transition: all .2s linear;
    }

    .CardForm>div .PaymentCardDueDate,
    .CardForm>div .PaymentCardFlags {
        margin-top: 10px;
    }

    .iframe-credit-card-payment-group .PaymentCardFlags {
        margin-bottom: 30px;
    }
}

@media all and (max-width: 490px) {
    .orderform-template-holder .client-profile-data input[type="text"] {
        width: 100% !important;
    }
}