.main-footer {
    background: #faf8f2;
    margin-top: 50px;

    &__links {
        display: flex;
        align-items: flex-start;
        justify-content: space-between;
        padding: 40px 0;

        @media all and (max-width: 767px) {
            display: block;
            padding: 20px 0;
        }

        &--atendimento {
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;
            max-width: 640px;

            @media all and (max-width: 767px) {
                margin-bottom: 20px;
            }

            .title {
                width: 100%;
                color: #1a1a1a;
                font-size: 13px;
                font-weight: 500;
                font-style: normal;
                letter-spacing: 0.65px;
                line-height: 1;
                margin-bottom: 15px;
                display: block;
            }

            .numbers {
                a {
                    display: block;
                    color: #4d4d4d;
                    font-size: 13px;
                    font-weight: 500;
                    font-style: normal;
                    letter-spacing: 0.65px;
                    line-height: 19px;
                    text-decoration: none;
                }
            }

            .email {
                margin: 0px 40px;

                @media all and (max-width: 767px) {
                    margin: 0;
                }

                a {
                    display: block;
                    color: #4d4d4d;
                    font-size: 13px;
                    font-weight: 500;
                    font-style: normal;
                    letter-spacing: 0.65px;
                    line-height: 19px;
                    text-decoration: none;
                }
            }

            .text {
                color: #999999;
                font-size: 13px;
                font-weight: 400;
                font-style: normal;
                letter-spacing: 0.65px;
                line-height: 19px;

                @media all and (max-width: 767px) {
                    margin-top: 5px;
                }
            }
        }

        &--pagamento {
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;

            @media all and (max-width: 767px) {
                margin-bottom: 20px;
            }

            .title {
                width: 100%;
                color: #1a1a1a;
                font-size: 13px;
                font-weight: 500;
                font-style: normal;
                letter-spacing: 0.65px;
                line-height: 1;
                margin-bottom: 15px;
                display: block;
            }

            .images {
                display: flex;
                align-items: flex-start;
            }

            svg+svg {
                margin-left: 20px;
                margin-bottom: 20px;
            }
        }

        &--selo {
            svg {
                margin-top: 20px;
            }
        }
    }

    &__copyright {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 20px 0;
        border-top: 1px solid #eae4da;

        @media all and (max-width: 767px) {
            display: block;
        }

        .copy {
            color: #4d4d4d;
            font-size: 11px;
            font-weight: 300;
            font-style: normal;
            letter-spacing: 0.55px;
            line-height: 16px;
        }

        .ref {
            display: flex;
            align-items: center;

            span {
                color: #4d4d4d;
                font-size: 11px;
                font-weight: 300;
                font-style: normal;
                letter-spacing: 0.55px;
                line-height: 24px;

                &+span::before {
                    content: "|";
                    margin: 0 10px;
                }

                a {
                    font-weight: 500;
                    color: #4d4d4d;
                    text-decoration: underline;
                }
            }
        }
    }
}