.e-steps {
    display: block;

    @media (max-width: 991px) {
        margin-top: 25px;
        width: calc(100% - 40px);
        position: relative;
        max-width: 400px;
    }

    &__list {
        display: flex;
        align-items: center;
        justify-content: space-between;
        position: relative;
        margin-bottom: 15px;

        &--item {
            display: block;
            width: 5px;
            height: 5px;
            z-index: 999;
            border-radius: 100%;
            background-color: #e5e0d2;
            position: relative;

            @media all and (max-width: 991px) {
                width: 10px;
                height: 10px;
            }

            &__texto {
                position: absolute;
                top: 15px;
                left: 50%;
                transform: translateX(-50%);
                color: #e5e0d2;
                font-size: 11px;
                font-weight: 400;
                font-style: normal;
                letter-spacing: 0.55px
            }
        }

        .line {
            display: block;
            background: #e5e0d2;
            width: 100px;
            height: 1px;
        }
    }
}

body.step-cart {
    .e-cart {
        background-color: #e6964b;

        &::before {
            content: "";
            width: 13px;
            height: 13px;
            display: block;
            border-radius: 100%;
            border: 1px solid #e6964b;
            top: 50%;
            left: 50%;
            position: absolute;
            transform: translate(-50%, -50%);
            background: #fff;
        }

        &::after {
            content: "";
            width: 5px;
            height: 5px;
            display: block;
            border-radius: 100%;
            background: #e6964b;
            top: 50%;
            left: 50%;
            position: absolute;
            transform: translate(-50%, -50%);
        }

        .e-steps__list--item__texto {
            color: #e6964b;
            font-weight: 500;
        }
    }
}

body.step-email,
body.step-profile {
    .e-cart {
        &+.line {
            background-color: #e6964b;
        }
    }

    .e-identification,
    .e-cart {
        background-color: #e6964b;

        &::before {
            content: "";
            width: 13px;
            height: 13px;
            display: block;
            border-radius: 100%;
            border: 1px solid #e6964b;
            top: 50%;
            left: 50%;
            position: absolute;
            transform: translate(-50%, -50%);
            background: #fff;
        }

        &::after {
            content: "";
            width: 5px;
            height: 5px;
            display: block;
            border-radius: 100%;
            background: #e6964b;
            top: 50%;
            left: 50%;
            position: absolute;
            transform: translate(-50%, -50%);
        }

        .e-steps__list--item__texto {
            color: #e6964b;
            font-weight: 500;
        }
    }
}

body.step-shipping {

    .e-cart,
    .e-identification {
        &+.line {
            background-color: #e6964b;
        }
    }

    .e-cart,
    .e-identification,
    .e-shipping {
        background-color: #e6964b;

        &::before {
            content: "";
            width: 13px;
            height: 13px;
            display: block;
            border-radius: 100%;
            border: 1px solid #e6964b;
            top: 50%;
            left: 50%;
            position: absolute;
            transform: translate(-50%, -50%);
            background: #fff;
        }

        &::after {
            content: "";
            width: 5px;
            height: 5px;
            display: block;
            border-radius: 100%;
            background: #e6964b;
            top: 50%;
            left: 50%;
            position: absolute;
            transform: translate(-50%, -50%);
        }

        .e-steps__list--item__texto {
            color: #e6964b;
            font-weight: 500;
        }
    }
}

body.step-payment {

    .e-cart,
    .e-identification,
    .e-shipping {
        &+.line {
            background-color: #e6964b;
        }
    }

    .e-confirmation {
        background-color: #e6964b;

        &::before {
            content: "";
            width: 13px;
            height: 13px;
            display: block;
            border-radius: 100%;
            border: 1px solid #e6964b;
            top: 50%;
            left: 50%;
            position: absolute;
            transform: translate(-50%, -50%);
            background: #fff;
        }

        &::after {
            content: "";
            width: 5px;
            height: 5px;
            display: block;
            border-radius: 100%;
            background: #e6964b;
            top: 50%;
            left: 50%;
            position: absolute;
            transform: translate(-50%, -50%);
        }

        .e-steps__list--item__texto {
            color: #e6964b;
            font-weight: 500;
        }
    }
}

body.body-checkout-confirmation {

    .e-cart,
    .e-identification,
    .e-shipping,
    .e-confirmation {
        background: #000;
        background-size: contain;
        border: 1px solid #000;

        &+.line {
            background-color: #000;
        }

        .e-steps__list--item__texto {
            color: #000;
        }
    }
}