@charset "utf-8";
@import url("https://use.typekit.net/jrg6sxa.css");
@import url("https://use.typekit.net/jrg6sxa.css");
@import url("https://use.typekit.net/jrg6sxa.css");


@font-face {
    font-family: 'lennyniemeyer-ico!important';
    src: url('https://lennyniemeyer.vteximg.com.br/arquivos/lennyniemeyer-ico.eot.css?1668454563513');
    src: url('https://lennyniemeyer.vteximg.com.br/arquivos/lennyniemeyer-ico.eot.css?1668454563513#iefix') format('embedded-opentype'),
        url('https://lennyniemeyer.vteximg.com.br/arquivos/lennyniemeyer-ico.ttf.css?1668454563513') format('truetype'),
        url('https://lennyniemeyer.vteximg.com.br/arquivos/lennyniemeyer-ico.woff.css?1668454563513') format('woff'),
        url('https://lennyniemeyer.vteximg.com.br/arquivos/lennyniemeyer-ico.svg.css?1668454563513#fontico') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
    margin: 0;
    padding: 0;
    border: 0;
    vertical-align: baseline;
    font-smooth: antialiased;
    line-height: normal;
}

body {
    overflow-x: hidden;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    display: block;
}

body {
    line-height: 1;
}

ol,
ul {
    list-style: none;
}

blockquote,
q {
    quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
    content: '';
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

.container {
    width: calc(100% - 60px);
    max-width: 1920px;
    margin: 0 auto;

    @media all and (max-width: 991px) {
        width: calc(100% - 40px);
    }
}

.max-container {
    width: calc(100% - 60px);
    margin: 0 auto;
    max-width: 1920px;

    @media (max-width: 991px) {
        width: calc(100% - 40px);
    }
}

button {
    font-family: 'Usual', sans-serif;
}

input {
    box-shadow: none;
}

body {
    font-family: 'Usual', sans-serif;
}

.btn {
    text-shadow: none !important;
}