@charset "utf-8";

@font-face {
    font-display: swap;
    font-family: Encode Sans Condensed;
    font-style: normal;
    font-weight: 100;
    src: url(https://dechelles.vtexassets.com/assets/vtex/assets-builder/dechelles.commercegrowth-store/0.0.18/fonts/encode-sans-condensed-v10-latin-100___23ba723116b55fff53b5529eca4ab948.woff2) format("woff2")
}

@font-face {
    font-display: swap;
    font-family: Encode Sans Condensed;
    font-style: normal;
    font-weight: 200;
    src: url(https://dechelles.vtexassets.com/assets/vtex/assets-builder/dechelles.commercegrowth-store/0.0.18/fonts/encode-sans-condensed-v10-latin-200___4366a27e19b83d2765412e4dc3492c54.woff2) format("woff2")
}

@font-face {
    font-display: swap;
    font-family: Encode Sans Condensed;
    font-style: normal;
    font-weight: 300;
    src: url(https://dechelles.vtexassets.com/assets/vtex/assets-builder/dechelles.commercegrowth-store/0.0.18/fonts/encode-sans-condensed-v10-latin-300___92f15d7f9954b48ad1201a9b5a788bfb.woff2) format("woff2")
}

@font-face {
    font-display: swap;
    font-family: Encode Sans Condensed;
    font-style: normal;
    font-weight: 400;
    src: url(https://dechelles.vtexassets.com/assets/vtex/assets-builder/dechelles.commercegrowth-store/0.0.18/fonts/encode-sans-condensed-v10-latin-regular___9db94915ee94b833d5edbbeb80525235.woff2) format("woff2")
}

@font-face {
    font-display: swap;
    font-family: Encode Sans Condensed;
    font-style: normal;
    font-weight: 500;
    src: url(https://dechelles.vtexassets.com/assets/vtex/assets-builder/dechelles.commercegrowth-store/0.0.18/fonts/encode-sans-condensed-v10-latin-500___ac6e23f12e6195ea5d0e973b176c20dc.woff2) format("woff2")
}

@font-face {
    font-display: swap;
    font-family: Encode Sans Condensed;
    font-style: normal;
    font-weight: 600;
    src: url(https://dechelles.vtexassets.com/assets/vtex/assets-builder/dechelles.commercegrowth-store/0.0.18/fonts/encode-sans-condensed-v10-latin-600___91358c05b3586de404ae189417babef9.woff2) format("woff2")
}

@font-face {
    font-display: swap;
    font-family: Encode Sans Condensed;
    font-style: normal;
    font-weight: 700;
    src: url(https://dechelles.vtexassets.com/assets/vtex/assets-builder/dechelles.commercegrowth-store/0.0.18/fonts/encode-sans-condensed-v10-latin-700___534b0273564d30695d08cf2542f45fe6.woff2) format("woff2")
}

@font-face {
    font-display: swap;
    font-family: Encode Sans Condensed;
    font-style: normal;
    font-weight: 800;
    src: url(https://dechelles.vtexassets.com/assets/vtex/assets-builder/dechelles.commercegrowth-store/0.0.18/fonts/encode-sans-condensed-v10-latin-800___a084025cb4425ad728eb93813c3b6c84.woff2) format("woff2")
}

@font-face {
    font-display: swap;
    font-family: Encode Sans Condensed;
    font-style: normal;
    font-weight: 900;
    src: url(https://dechelles.vtexassets.com/assets/vtex/assets-builder/dechelles.commercegrowth-store/0.0.18/fonts/encode-sans-condensed-v10-latin-900___389aa28eed96e05e7614ec0a1724c708.woff2) format("woff2")
}

@font-face {
    font-display: swap;
    font-family: Encode Sans;
    font-style: normal;
    font-weight: 100;
    src: url(https://dechelles.vtexassets.com/assets/vtex/assets-builder/dechelles.commercegrowth-store/0.0.18/fonts/encode-sans-v19-latin-100___fbb9bbfe790ce80adbec18b654b0da66.woff2) format("woff2")
}

@font-face {
    font-display: swap;
    font-family: Encode Sans;
    font-style: normal;
    font-weight: 200;
    src: url(https://dechelles.vtexassets.com/assets/vtex/assets-builder/dechelles.commercegrowth-store/0.0.18/fonts/encode-sans-v19-latin-200___c1b3e8a422352cf9d7ba72dab26532f6.woff2) format("woff2")
}

@font-face {
    font-display: swap;
    font-family: Encode Sans;
    font-style: normal;
    font-weight: 300;
    src: url(https://dechelles.vtexassets.com/assets/vtex/assets-builder/dechelles.commercegrowth-store/0.0.18/fonts/encode-sans-v19-latin-300___59e461048e51267f27f00acb3280a31f.woff2) format("woff2")
}

@font-face {
    font-display: swap;
    font-family: Encode Sans;
    font-style: normal;
    font-weight: 400;
    src: url(https://dechelles.vtexassets.com/assets/vtex/assets-builder/dechelles.commercegrowth-store/0.0.18/fonts/encode-sans-v19-latin-regular___c694e6ed4ac13caa0df07159ef940f04.woff2) format("woff2")
}

@font-face {
    font-display: swap;
    font-family: Encode Sans;
    font-style: normal;
    font-weight: 500;
    src: url(https://dechelles.vtexassets.com/assets/vtex/assets-builder/dechelles.commercegrowth-store/0.0.18/fonts/encode-sans-v19-latin-500___4edf0e53171593c890445867fda94825.woff2) format("woff2")
}

@font-face {
    font-display: swap;
    font-family: Encode Sans;
    font-style: normal;
    font-weight: 600;
    src: url(https://dechelles.vtexassets.com/assets/vtex/assets-builder/dechelles.commercegrowth-store/0.0.18/fonts/encode-sans-v19-latin-600___c14b878be608476a045896be2f60a2c8.woff2) format("woff2")
}

@font-face {
    font-display: swap;
    font-family: Encode Sans;
    font-style: normal;
    font-weight: 700;
    src: url(https://dechelles.vtexassets.com/assets/vtex/assets-builder/dechelles.commercegrowth-store/0.0.18/fonts/encode-sans-v19-latin-700___42136da7d5f3063f729145c7689b5791.woff2) format("woff2")
}

@font-face {
    font-display: swap;
    font-family: Encode Sans;
    font-style: normal;
    font-weight: 800;
    src: url(https://dechelles.vtexassets.com/assets/vtex/assets-builder/dechelles.commercegrowth-store/0.0.18/fonts/encode-sans-v19-latin-800___3d5e45c6c6abd19248ce6b0b3b4aeaa8.woff2) format("woff2")
}

@font-face {
    font-display: swap;
    font-family: Encode Sans;
    font-style: normal;
    font-weight: 900;
    src: url(https://dechelles.vtexassets.com/assets/vtex/assets-builder/dechelles.commercegrowth-store/0.0.18/fonts/encode-sans-v19-latin-900___eea6ffb97fbd742b6ca8247949ebb6d6.woff2) format("woff2")
}

.smarthint {
    display: none !important;
}

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
    margin: 0;
    padding: 0;
    border: 0;
    vertical-align: baseline;
    font-smooth: antialiased;
    line-height: normal;
}

body {
    overflow-x: hidden;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    display: block;
}

body {
    line-height: 1;
}

ol,
ul {
    list-style: none;
}

blockquote,
q {
    quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
    content: '';
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

.container {
    width: calc(100% - 60px);
    max-width: 1920px;
    margin: 0 auto;

    @media all and (max-width: 991px) {
        width: calc(100% - 40px);
    }
}

.max-container {
    width: calc(100% - 60px);
    margin: 0 auto;
    max-width: 1920px;

    @media (max-width: 991px) {
        width: calc(100% - 40px);
    }
}

button {
    font-family: 'Encode Sans', sans-serif;
}

input {
    box-shadow: none;
}

body {
    font-family: 'Encode Sans', sans-serif;
}

.btn {
    text-shadow: none !important;
}