.seller-code-label {
    label {
        @extend %label;
        text-align: left;
    }
}

.seller-code-form {
    margin-bottom: 30px;
}

.seller-code-result-fechar {
    @extend %btnlight;
    text-transform: capitalize;
    border-left: 0;
    outline: none;
}

.seller-code-result {
    width: 100%;
    display: none
}

.seller-code-result-name {
    @extend %input;
    width: 100%;
    line-height: 30px;
    width: 100%;
}

.seller-code-input {
    display: flex;
    align-items: center;

    input {
        @extend %input;
        border-right: 0;
        height: 30px;
        box-shadow: none;
        border: 1px solid #000;
    }

    button {
        @extend %btnlight;
        border-left: 0;
    }
}

// .seller-code-result-fechar {
//     display: none;
// }