.trigger {
    &--header__search {
        padding: 0;
        margin: 0;
        background: transparent;
        border: 0;
        outline: none;
        height: 22px;
        width: 22px !important;
    }
}

.content {
    &--header__search {
        display: block !important;
        position: absolute;
        left: 0;
        top: 100%;
        background: #fff;
        padding: 15px;
        max-height: calc(100vh - 88px);
        opacity: 0;
        visibility: hidden;
        transition: 0.3s;
        width: 100%;

        &--visible {
            opacity: 1;
            visibility: visible;
        }
    }
}