.biggy-autocomplete-wrapper {
    width: 100%;

    @media all and (max-width: 1024px) {
        width: 100%;

        .close-btn {
            display: none;
        }
    }

    .biggy-autocomplete {
        box-shadow: none !important;
        padding: 20px 0 0;
        position: static;
        display: block;
        overflow: unset;
        max-height: unset;
    }

    .biggy-js-container--hidden {
        left: 0;
        //padding: 20px 0 30px;
        overflow: hidden;
        position: static;
        box-shadow: none !important;
        display: block !important;
        opacity: 1;
        padding: 20px 0 0 0;
        max-height: unset !important;

        @media(min-width:1025px) {}
    }

    .itemList {
        margin-bottom: 20px;

        .itemListList {
            display: flex;
            align-items: center;
            justify-content: flex-start;
            gap: 10px;
            overflow-y: auto;

            @media (min-width: 1025px) {
                flex-wrap: wrap;
                justify-content: center;
            }
        }

        .itemListSubItem {
            display: none;
        }

        .itemListLink {
            display: block;
            padding: 0px 10px;
            height: 30px;
            border-radius: 6px;
            background: #EEE;
            font-size: 10px;
            text-align: center;
            letter-spacing: 1.2px;
            line-height: 30px;
            text-transform: uppercase;
            font-weight: 300;
            color: #000;
            text-underline-offset: 3px;

            @media (min-width: 1025px) {
                padding: 0px 20px;
                height: 35px;
                line-height: 35px;
                font-size: 14px;
            }

            &:hover {
                text-decoration: underline;
            }
        }
    }

    .tileList {
        border: 0;
        width: 100%;
        display: flex;
        flex-direction: column-reverse;
        height: 100%;

        .tileListList {
            margin: 0;
            display: grid;
            overflow: auto;
            grid-template-columns: repeat(4, 1fr);
            gap: 40px 20px;

            @media all and (max-width: 1024px) {
                display: block;
                margin-bottom: 30px;
            }
        }

        .tileListSeeMore {
            height: auto;
            font-style: normal;
            display: block;
            margin: 0 auto;
            font-size: 10px;
            letter-spacing: 2px;
            line-height: 1;
            text-transform: uppercase;
            color: #000;
            font-weight: 300;
            margin-bottom: 30px;
            text-decoration: none;
            display: flex;
            align-items: center;
            justify-content: space-between;

            @media (min-width: 1025px) {
                font-size: 14px;
            }

            &::after {
                content: "VER TODOS +";
            }
        }
    }

    .itemListTitle,
    .tileListTitle {
        display: none;
    }
}

.history-and-top-wrapper {
    display: none;
}

@media all and (max-width: 1025px) {
    .element {
        padding: 0 0 10px;

        &:hover {
            background: unset !important;
        }
    }

    .imageContainer {
        max-height: unset;
        height: auto;
    }

    .information {
        margin-left: 10px;
    }

    .priceContainer {
        display: none;
    }

    .image {
        width: 100px;
        height: auto;
    }

    .productBrand {
        text-transform: none;
        color: #000;
        margin-left: 0;

        font-size: 11px;
        font-weight: 400;
        letter-spacing: .75px;
        line-height: 1.5;
        text-decoration: none;
        color: #191919;
    }
}