.headerStickyRow {
    &--main-header {
        position: sticky;
        z-index: 999;
        top: 0;

        .headerRowContainer {
            display: block;
        }

        .headerRowBackground {
            background: #fff;
            transition: 0.3s;
        }
    }
}