.flexRow {
    &--product__wrapper {
        @extend %maxcontainer;
        max-width: 1100px;
        margin: 0 auto 50px;

        .stretchChildrenWidth {
            display: block;
        }

        @media all and (max-width:1024px) {
            width: 100%;
        }

        :global(.vtex-button) {
            position: static;
        }

        :global(.vtex-button),
        :global(.vtex-button__label) {
            padding: 0 !important;
            margin: 0;
            background: transparent;
            border: 0;
            min-height: unset;
        }

        .flexRowContent--product__wrapper {
            display: grid;
            grid-template-columns: calc(100% - 430px) 365px;
            align-items: flex-start;
            gap: 65px;

            @media all and (max-width:1024px) {
                display: block;
            }
        }
    }

    &--product__info--priceWrapper {
        margin: 0 0 30px;

        .flexRowContent {
            display: flex;
            align-items: center;
            justify-content: flex-start;
        }
    }

    &--product__info--skuWrapper {
        margin: 0 0 20px;

        .flexRowContent {
            display: flex;
            align-items: center;
            grid-gap: unset;
        }
    }

    // &--product__info--addtocart {
    //     .flexRowContent {
    //         display: block;
    //     }
    // }
}

.flexCol {
    // &--product__info {
    //     width: 100%;
    //     position: relative;

    //     @media all and (max-width:1024px) {
    //         width: calc(100% - 30px) !important;
    //         margin: 0 auto;
    //     }
    // }
}