.wishlistIconContainer {
    position: absolute;
    right: 0;
    top: 0;
    width: 19px;
    height: 14px;

    .wishlistIcon {
        background: url(/assetsicons/icon-hearth.svg) no-repeat;
        background-size: contain;
        width: 19px;
        height: 14px;
    }

    .fill {
        background: url(/assetsicons/icon-hearthfull.webp) no-repeat;
        background-size: contain;
        width: 19px;
        height: 14px;
    }
}