.productNameContainer {
    &--product__info--name {
        color: #000;
        font-family: "Encode Sans";
        font-size: 16px;
        font-style: normal;
        font-weight: 700;
        line-height: 120%;
        letter-spacing: 1.6px;
        text-transform: uppercase;
        padding-right: 70px;
        margin-bottom: 20px;
        display: block;
    }
}

.skuSelectorSubcontainer {
    margin: 0;

    .skuSelectorTextContainer,
    .skuSelectorNameContainer,
    .skuSelectorOptionsList {
        margin: 0;
    }

    .skuSelectorTextContainer {
        margin: 0 0 15px;
    }

    .skuSelectorName,
    .skuSelectorSelectorImageValue,
    .skuSelectorNameSeparator {
        color: #000;
        font-family: "Encode Sans";
        font-size: 12px;
        font-style: normal;
        font-weight: 400;
        line-height: 12px;
        letter-spacing: 0.6px;
    }

    .skuSelectorSelectorImageValue {
        margin-left: 2px;
    }

    .skuSelectorInternalBox {
        padding: 0;
        border: 0;
        height: auto;
        width: auto;
    }

    .skuSelectorItem {
        padding: 0;
        border: 0;
        height: auto;
        width: auto;
        margin: 0;

        &--selected {
            .valueWrapper {
                color: #000 !important;
                border: 1px solid #000 !important;
            }

            .valueWrapper--product__info--sku--unavailable {
                border: 1px solid #999 !important;
                line-height: 25px !important;
            }
        }

        .valueWrapper {
            padding: 0;
            color: #000;
            font-family: "Encode Sans";
            font-size: 11px;
            font-weight: 400;
            font-style: normal;
            letter-spacing: normal;
            line-height: 25px;
            padding: 0;
            margin-right: 12px;
            border: 0;
            width: 25px;
            height: 25px;
            border-radius: 100%;
            text-align: center;
            display: block;

            &--unavailable {
                background: #faf8f2;
                color: #888 !important;
            }
        }

        .frameAround,
        .diagonalCross {
            display: none;
        }
    }
}

.productDescriptionContainer {
    &--product__description {
        .productDescriptionText {
            color: #58524E;
            font-family: "Encode Sans";
            font-size: 11px;
            font-style: normal;
            font-weight: 400;
            line-height: 18px;
        }
    }
}

.shippingContainer {
    position: relative;
}